// (i) Стили будут применяться ко всем классам содержащим *__container. Например header__container, footer__container и т.д.
@if ($responsiveType ==1) {
  // Отзывчивая
  [class*="__container"] {
    @if ($maxWidthContainer > 0) {
      max-width: $maxWidthContainer + px;
      margin: 0 auto;
    }

    @if ($containerPadding > 0) {
      padding: 0 math.div($containerPadding, 2) + px;
    }
  }
} @else {
  // По брейк-поинтам
  [class*="__container"] {
    margin: 0 auto;

    @if ($maxWidthContainer > 0) {
      max-width: $maxWidthContainer + px;
    }

    @if ($containerPadding > 0) {
      padding: 0 math.div($containerPadding, 2) + px;
    }

    @media (max-width: $xxl) {
      max-width: 980px;
    }

    @media (max-width: $lg) {
      max-width: 750px;
    }

    @media (max-width: $md) {
      max-width: 620px;
    }

    @media (max-width: $sm) {
      max-width: 100%;
    }
  }
}

// Заголовки, общие БЄМ блоки и прочее...
.icon-wrap {
  width: 24px;
  height: 24px;
  flex: 0 0 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ibg {
  position: relative;
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 54px;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 110%;
  padding: 10px;
  border-radius: 16px;
  border: 2px solid #307ff5;
  background: $whiteColor;
  box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.05);
  transition: color 0.2s ease 0s, background-color 0.2s ease 0s, border-color 0.2s ease 0s;
  &::before {
    transition: background-color 0.2s ease 0s;
  }
  @media (any-hover: hover) {
    &:hover {
      background-color: $blueColor;
      color: $whiteColor;
      &::before {
        background-color: $whiteColor;
      }
    }
  }
  &:active {
    background-color: $blueColor;
    color: $whiteColor;
    &::before {
      background-color: $whiteColor;
    }
    & svg {
      & path {
        stroke: $whiteColor;
      }
    }
  }
}

.btn.btn-blue {
  color: $whiteColor;
  background-color: $blueColor;
  border-radius: 10px;
  min-height: 48px;
  padding: 10px 20px;
  @media (any-hover: hover) {
    &:hover {
      color: $whiteColor;
      background-color: $blueColorHover;
      border-color: $blueColorHover;
    }
  }
}

.btn-border {
  border-radius: 8px;
  padding: 10px 22px;
  font-weight: 400;
  font-size: 16px;
  min-height: 48px;
  border-width: 1px;
}

.btn-add {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  &::before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background-color: rgba(101, 157, 92, 1);
    mask-image: url("../images/icons/add.svg");
    mask-repeat: no-repeat;
    mask-position: center;
  }
}
.gallery__link {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
.btn-show {
  color: #307ff5;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  line-height: 110%;
  border-bottom: 1px solid $blueColor;
  transition: border-bottom 0.2s ease 0s;
  @media (any-hover: hover) {
    &:hover {
      border-bottom: 1px solid transparent;
    }
  }
  &:active {
    border-bottom: 1px solid transparent;
  }
}
// .gallery-grid {
// 	&.gallery__body {
// 		max-width: 296px;
// 	}
// }
.gallery-list-best {
  &.gallery__body {
    max-width: 660px;
  }
}
.gallery-recent {
  max-width: 690px;
}
.gallery-list {
  &.gallery__body {
    max-width: 690px;
  }
  & .item-gallery__name {
    font-size: 12px;
  }
  & .item-gallery__author {
    font-size: 12px;
  }
  &-best {
    & .item-gallery__image {
      display: flex;
      justify-content: center;
      flex: 1 0 210px;
      padding-bottom: 100%;
    }
  }
}
.gallery {
  margin: -15px;
  padding: 15px;
  overflow: hidden;
  @media screen and (max-width: $md) {
    padding: 10px;
    margin: -10px;
    overflow: hidden;
  }
  &__wrapper {
  }
  &__body {
    overflow: visible;
  }
  &__item {
    border-radius: 5px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    &.hidden {
      opacity: 0;
      box-shadow: none;
    }
  }
  &__bottom {
    margin-top: 9px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 0 26px;
  }
}
.item-gallery {
  line-height: 120%;
  display: flex;
  flex-direction: column;
  position: relative;
  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100%;
  }
  &__body {
    flex: 1 1 auto;
    padding: 10px 10px 15px;
    text-align: center;
    & > *:not(:last-child) {
      margin-bottom: 4px;
    }
  }
  &__date {
    display: block;
    color: #a4a4a4;
    font-size: 12px;
  }
  &__name {
    color: #4b4b4b;
  }
  &__author {
    color: $blueColor;
  }
  &__badge {
    z-index: 10;
    position: absolute;
    top: 10px;
    left: 0;
    padding: 2px 6px;
    color: #fff;
    font-family: "Rubik", sans-serif;
    font-size: 10px;
    font-weight: 500;
    line-height: 120%;
    border-radius: 0px 3px 3px 0px;
    pointer-events: none;
    background: #e78c4b;
    &--green {
      background: #73b155;
    }
    &--red {
      background: #f88888;
    }
  }
  &__descr {
    color: #a4a4a4;
  }
}
.slider-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex: 1 1 auto;
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  width: auto;
}
.slider-button {
  width: 24px;
  height: 24px;
  flex: 0 0 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  &::before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background-color: $blueColor;
    mask-repeat: no-repeat;
    mask-position: center;
  }
  &-prev {
    &::before {
      mask-image: url("../images/icons/arrow-left.svg");
    }
  }
  &-next {
    &::before {
      mask-image: url("../images/icons/arrow-right.svg");
    }
  }
}
.slider-pagination {
  & .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: rgba(#353434, 0.9);
    &-active {
      background-color: #a4a4a4;
      border-radius: 16px;
      width: 19px;
    }
  }
}
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 5px;
}
.color-blue {
  color: $blueColor;
}
.page-title {
  font-family: "Rubik", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 15px;
  @media screen and (max-width: $md) {
    margin-bottom: 13px;
  }
}

.banner-small {
  & .banner {
    &__image {
      min-height: 250px;
      padding-bottom: math.div(250, 330) * 100%;
      @media screen and (max-width: $md) {
        padding-bottom: math.div(250, 368) * 100%;
      }
    }
  }
}
.banner-big {
  & .banner {
    &__image {
      min-height: 650px;
      padding-bottom: math.div(650, 330) * 100%;
    }
  }
}
.form {
  &__input {
    border-radius: 10px;
    border: 1px solid #dedede;
    width: 100%;
    min-height: 36px;
    padding: 10px;
    font-family: "Rubik", sans-serif;
    line-height: 110%;
    font-size: 12px;
    &::placeholder {
      font-family: "Rubik", sans-serif;
      font-weight: 400;
      font-size: 12px;
      line-height: 110%;
      transition: opacity 0.15s ease 0s;
    }
    &:focus {
      border-color: $mainColor;
      &::placeholder {
        opacity: 0;
      }
    }
  }
}
.details {
  &__summary {
    @include reset-list;
    color: #4b4b4b;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 120%;
    cursor: pointer;
    background-color: transparent;
    border: none;
    position: relative;
    &::before {
      content: "";
      display: block;
      width: 14px;
      height: 14px;
      display: flex;
      justify-content: center;
      align-items: center;
      mask-image: url("../images/icons/arrow-down.svg");
      mask-repeat: no-repeat;
      mask-position: center;
      background-color: #a4a4a4;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
    }
  }
  &__content {
    padding-top: 11px;
    & p {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
}
.details[open] .details__summary {
  color: $blueColor;
  &::before {
    transform: translateY(-50%) rotate(180deg);
  }
}

.color-red {
  color: #cf3c35;
}
.radiobutton-group {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px 22px;
  @media screen and (max-width: $md) {
    gap: 8px;
  }
}
.radio {
  position: relative;
}
.radio__label {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  @media screen and (max-width: $md) {
    flex-direction: column-reverse;
    gap: 6px;
  }
}
.checkbox__label {
  display: inline-flex;
  align-items: center;
  gap: 9px;
  color: #757c8d;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 110%;
  @include hover {
    cursor: pointer;
  }
}
.real-radio,
.real-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.custom-radio {
  display: block;
  width: 20px;
  height: 20px;
  flex: 0 0 20px;
  border-radius: 50%;
  border: 1px solid #dedede;
  background: #fff;
  position: relative;
  @media screen and (max-width: $md) {
    width: 16px;
    height: 16px;
    flex: 0 0 16px;
  }
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: $blueColor;
    opacity: 0;
    transition: opacity 0.2s ease 0s, transform 0.2s ease 0s;
    @media screen and (max-width: $md) {
      width: 10px;
      height: 10px;
    }
  }
}
.real-radio {
  &:checked + .custom-radio {
    &::before {
      transform: translate(-50%, -50%) scale(1);
      opacity: 1;
    }
  }
}
.custom-checkbox {
  display: block;
  width: 30px;
  height: 30px;
  flex: 0 0 30px;
  border-radius: 5px;
  border: 1px solid #dedede;
  background: #fff;
  position: relative;
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    mask-image: url("../images/icons/check.svg");
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: $blueColor;
    opacity: 0;
    transition: opacity 0.2s ease 0s;
  }
}
.real-checkbox {
  &:checked + .custom-checkbox {
    &::before {
      opacity: 1;
    }
  }
}
.form-input {
  min-height: 54px;
  border-radius: 10px;
  border: 1px solid #dedede;
  background: #fff;
  font-family: "Rubik", sans-serif;
  padding: 15px 15px;
  color: $mainColor;
  font-size: 16px;
  line-height: 110%;
  width: 100%;
  transition: border-color 0.2s ease 0s;
  &::placeholder {
    color: #757c8d;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 110%;
    transition: opacity 0.2s ease 0s;
  }
  &:focus {
    border-color: $mainColor;
    &::placeholder {
      opacity: 0;
    }
  }
}
.radio {
  &__color {
    width: 34px;
    height: 34px;
    flex: 0 0 34px;
    border: 1px solid #dedede;
    @media screen and (max-width: $md) {
      width: 26px;
      height: 26px;
      flex: 0 0 26px;
    }
    &--1 {
      background-color: $whiteColor;
    }
    &--2 {
      background-color: #e5e5e5;
    }
    &--3 {
      background-color: #cccccc;
    }
    &--4 {
      background-color: #b3b3b3;
    }
    &--5 {
      background-color: #999999;
    }
    &--6 {
      background-color: #808080;
    }
    &--7 {
      background-color: #666666;
    }
    &--8 {
      background-color: #4d4d4d;
    }
    &--9 {
      background-color: #333333;
    }
    &--10 {
      background-color: #1a1a1a;
    }
    &--11 {
      background-color: #000000;
    }
  }
}

.reaction-button {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: color 0.2s ease 0s;
  @media screen and (max-width: $md) {
    font-size: 0;
  }
  @media (any-hover: hover) {
    &:hover {
      color: $blueColor;
    }
  }
  &::before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: $blueColor;
  }
  &--answer {
    &::before {
      mask-image: url("../images/icons/answer.svg");
    }
  }

  &--quote {
    &::before {
      mask-image: url("../images/icons/quote.svg");
    }
  }

  &--share {
    &::before {
      mask-image: url("../images/icons/share.svg");
    }
  }
  &--like {
    &::before {
      mask-image: url("../images/icons/like.svg");
    }
  }
  &--dislike {
    &::before {
      mask-image: url("../images/icons/dislike.svg");
    }
  }
  &--favorites {
    &::before {
      mask-image: url("../images/icons/favorites.svg");
    }
  }
}

.fancybox__container {
  max-width: 100%;
}

.banner-long {
  height: 650px;
}
.banner {
  position: relative;
  display: block;
  border-radius: 10px;
  overflow: hidden;
  &-yellow {
    & .banner__body {
      padding-top: 37px;
    }
  }
  &-red {
    border-radius: 0px;
  }
  &-green {
    background-color: #309941;
  }
  &__image {
    height: 100%;
    & img {
      height: 100%;
      width: 100%;
    }
  }
  &__body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 25px 16px;
    text-align: center;
    font-family: "Rubik", sans-serif;
    color: $whiteColor;
  }
  &__title {
    font-weight: 700;
    font-size: 35px;
    line-height: 120%;
    text-align: center;
    text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.36);
    &:not(:last-child) {
      margin-bottom: 13px;
    }
  }
  &__sub-title {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.36);
  }
}

.rating.rating-blue {
  & .rating__item {
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
  }
  & .rating__value {
    font-size: 16px;
    line-height: 120%;
  }
}

.custom-list {
  @include reset-list;
  &__item {
    font-size: 16px;
    line-height: 120%;
    display: flex;
    align-items: center;
    gap: 8px;
    color: #a4a4a4;
    & span {
      position: relative;
      display: flex;
      align-items: center;
      gap: 8px;
      &::before {
        content: "";
        display: block;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: $blueColor;
      }
    }
  }
}

.btn-favorite {
  display: flex;
  align-items: center;
  gap: 11px;
  font-size: 16px;
  line-height: 120%;
  transition: color 0.25s;
  & svg {
    width: 24px;
    height: 24px;
    & path {
      fill: transparent;
      stroke: $blueColor;
      transition: stroke 0.25s;
    }
  }
  @media (any-hover: hover) {
    &:hover {
      color: $blueColor;
    }
  }
  &.active {
    & svg path {
      fill: $blueColor;
    }
  }
}
.btn-share {
  display: flex;
  align-items: center;
  gap: 11px;
  font-size: 16px;
  line-height: 120%;
  transition: color 0.25s;
  @media (any-hover: hover) {
    &:hover {
      color: $blueColor;
    }
  }
  & svg {
    width: 24px;
    height: 24px;
    & path {
      transition: stroke 0.25s;
    }
  }
  &.active {
    & svg path {
      stroke: $blueColor;
    }
  }
}

.btn-video,
.btn-reserve {
  min-height: 48px;
  padding: 10px 18px;
  gap: 8px;
  border-radius: 10px;
  & svg {
    width: 24px;
    height: 24px;
    display: grid;
    place-items: center;
    & path {
      transition: stroke 0.25s;
    }
  }
}
.btn-reserve.btn-blue {
  @media (any-hover: hover) {
    &:hover {
      background-color: #216bdb;
      color: $whiteColor;
    }
  }
}
.btn-video {
  @media (any-hover: hover) {
    &:hover {
      svg path {
        stroke: $whiteColor;
      }
    }
  }
}
.btn-contacts {
  z-index: 2;
  gap: 8px;
  min-height: 48px;
  padding: 10px 18px;
  flex-direction: row-reverse;
  border-radius: 10px;
  @media screen and (max-width: $md) {
    width: 100%;
  }
  & svg {
    pointer-events: none;
    & path {
      transition: stroke 0.25s;
    }
  }
  &.active {
    & + ul {
      transform: translate(0) scale(1);
      transform-origin: left;
      @media screen and (max-width: $xxl) {
        display: flex;
      }
    }
  }
  @media (any-hover: hover) {
    &:hover {
      svg path {
        stroke: $whiteColor;
      }
    }
  }
}

.btn-opacity {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 5px 20px;
  width: 270px;
  min-height: 48px;
  box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.05);
  background: $whiteColor;
  font-family: $secondFamily;
  font-size: 18px;
  line-height: 110%;
  text-align: center;
  color: #a4a4a4;
  transition: box-shadow 0.25s;
  @media (any-hover: hover) {
    &:hover {
      box-shadow: 0px 0px 0px 0px transparent;
    }
  }
  @media screen and (max-width: $md) {
    width: 100%;
  }
}

.btn-hall {
  padding: 10px 18px;
  border-radius: 10px;
  gap: 8px;
  min-height: 48px;
  & svg {
    pointer-events: none;
    & path {
      transition: stroke 0.25s;
    }
  }
  @media (any-hover: hover) {
    &:hover {
      svg path {
        stroke: $whiteColor;
      }
    }
  }
}
.btn-add-review {
  min-height: 48px;
  padding: 10px 28px;
  gap: 8px;
  border-radius: 10px;
  & svg {
    width: 24px;
    height: 24px;
    pointer-events: none;
    & path {
      transition: stroke 0.25s;
    }
  }
  @media (any-hover: hover) {
    &:hover {
      svg path {
        stroke: $blueColor;
      }
    }
  }
  @media screen and (max-width: $md) {
    width: 100%;
  }
}

.btn-studio-add {
  gap: 10px;
  padding: 10px 16px;
  min-height: 48px;
  font-family: $fontFamily;
  font-size: 16px;
  & svg {
    width: 24px;
    height: 24px;
    pointer-events: none;
    & path {
      transition: stroke 0.25s;
    }
  }
  @media (any-hover: hover) {
    &:hover {
      svg path {
        stroke: $whiteColor;
      }
    }
  }
}

.white-control {
  &.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0;
    width: 8px;
    height: 8px;
    background-color: rgba($whiteColor, 0.3);
    opacity: 1;
    cursor: pointer;
    &.swiper-pagination-bullet-active {
      background-color: $whiteColor;
    }
  }
  &.slider-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    z-index: 2;
    margin: 0;
    gap: 6px;
    &.swiper-pagination-lock {
      display: none;
    }
  }
  &.slider-controls {
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding: 0 8px;
    justify-content: space-between;
    gap: 10px;
    visibility: hidden;
  }
}

.content {
  &-caption {
    font-family: $secondFamily;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    margin-bottom: 12px;
  }
  ul:not([class]) {
    @include reset-list;
    display: flex;
    flex-direction: column;
    gap: 8px;
    & li {
      font-weight: 400;
      font-size: 16px;
      line-height: 120%;
      position: relative;
      padding-left: 24px;
      &::before {
        content: "";
        position: absolute;
        top: 6px;
        left: 10px;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: $mainColor;
      }
    }
  }
}

.custom-choices {
  & .choices {
    margin-bottom: 14px;
    &__inner {
      color: $mainColor;
      padding-right: 45px;
      padding-left: 11px;
      font-family: "Inter", sans-serif;
    }
    &[data-type*="select-one"]:after {
      mask-image: url("../images/icons/choice-arrow.svg");
      background-color: #a4a4a4;
      width: 24px;
      height: 24px;
      right: 16px;
    }
    & .choices__list--dropdown .choices__item {
      padding-left: 15px;
    }
  }
}

.custom-choices-hall {
  & .choices__list.choices__list--single {
    font-family: $secondFamily;
    font-style: italic;
    color: #a4a4a4;
  }
}
