-
	pages = [
		{
			"title": "Главная",
			"link": "index.html",
		},
		{
			"title": "Форумы",
			"link": "forums.html",
		},
		{
			"title": "Форум",
			"link": "forum.html",
		},
		{
			"title": "Галереи",
			"link": "galleries.html",
		},
		{
			"title": "Топик",
			"link": "topic.html",
		},
		{
			"title": "Добавление",
			"link": "add-photo.html",
		},
		{
			"title": "Вход в аккаунт",
			"link": "login.html",
		},
		{
			"title": "Регистрация",
			"link": "register.html",
		},
		{
			"title": "Правила Клуба Foto.ru",
			"link": "text-page.html",
		},
		{
			"title": "Фотография",
			"link": "main-photo.html",
		},
		{
			"title": "Автор",
			"link": "author.html",
		},
		{
			"title": "Пользовательское соглашение",
			"link": "agreement.html",
		},
		{
			"title": "Художественный Совет Клуба Foto.ru",
			"link": "advice.html",
		},
		{
			"title": "Вопросы и ответы",
			"link": "faq.html",
		},
		{
			"title": "Мессенджер",
			"link": "private.html",
		},
		{
			"title": "Мессенджер (только чат на адаптиве)",
			"link": "detail-chat.html",
		},
		{
			"title": "Обсуждение карточка",
			"link": "discussion-product.html",
		},
		{
			"title": "Обсуждение оборудования каталог",
			"link": "discussion.html",
		},
		{
			"title": "Обсуждение оборудования категории",
			"link": "discussion-category.html",
		},
		{
			"title": "Обсуждение оборудования карточка",
			"link": "discussion-product-2.html",
		},
		{
			"title": "Конкурс",
			"link": "contest.html",
		},
		{
			"title": "Барахолка",
			"link": "junk.html",
		},
		{
			"title": "Выставки",
			"link": "exhibition.html",
		},
		{
			"title": "Выставка индивидуальная",
			"link": "exposition.html",
		},
	],
	menu = [
		{	
			"title": "Барахолка",
			"link": "#",
		},
		{	
			"title": "Фотолаборатории",
			"link": "#",
		},
		{	
			"title": "Фотостудии",
			"link": "#",
		},
		{	
			"title": "Словарь",
			"link": "#",
		},
		{	
			"title": "Вопросы-ответы",
			"link": "#",
		},
	],
	nav = [
		{	
			"title": "Фотогора",
			"link": "#",
			"icon": "fotogora",
		},
		{	
			"title": "Форум",
			"link": "#",
			"icon": "forum",
		},
		{	
			"title": "Блог",
			"link": "#",
			"icon": "blog",
		},
		{	
			"title": "Магазин",
			"link": "#",
			"icon": "market",
		},
		{	
			"title": "Вход",
			"link": "#",
			"icon": "user",
		},
	],
	categories = [
		{	
			"title": "Форумы",
			"link": "forums.html",
			"icon": "icon-forum",
		},
		{	
			"title": "Галерея фоторафий",
			"link": "gallery.html",
			"icon": "icon-gallery",
		},
		{	
			"title": "Персональные фотоальбомы",
			"link": "#",
			"icon": "icon-personal_photo",
		},
		{	
			"title": "Архивные фото",
			"link": "#",
			"icon": "icon-archived_photo",
		},
		{	
			"title": "Выставки и проекты",
			"link": "#",
			"icon": "icon-projects",
		},
		{	
			"title": "Обсуждение фототехники",
			"link": "#",
			"icon": "icon-discuss_photo",
		},
		{	
			"title": "Школа фотографии",
			"link": "#",
			"icon": "icon-school_photo",
		},
		{	
			"title": "Классики фотоискусства",
			"link": "#",
			"icon": "icon-classic_photo",
		},
	],
	sections = {
		"news": [
			{
				"date": "29.03.2022",
				"text": "Вавилонская башня в огне: как сожгли самую большую Масленицу"
			},
			{
				"date": "19.03.2022",
				"text": "Кроссфит-турнир: физ. нагрузки превращаются в красивое тело"
			},
			{
				"date": "12.02.2022",
				"text": "Зимнее плавание, Чемпионат Москвы: эти фото охлаждают и расслабляют"
			},
		],
		"focus": [
			{
				"date": "19.03.2022",
				"text": "Кроссфит-турнир: физ. нагрузки превращаются в красивое тело"
			},
			{
				"date": "12.02.2022",
				"text": "Зимнее плавание, Чемпионат Москвы: эти фото охлаждают и расслабляют"
			},
			{
				"date": "29.03.2022",
				"text": "Вавилонская башня в огне: как сожгли самую большую Масленицу"
			},
		],
		"forums": [
			{
				"text": "Помогите выбрать! (+1)"
			},
			{
				"text": "Цифровые компактные фотоаппараты"
			},
			{
				"text": "Цифровые беззеркальные камеры со сменной оптикой"
			},
			{
				"text": "Цифровые зеркальные фотоаппараты"
			},
			{
				"text": "Общие вопросы фотографии (+1)"
			},
			{
				"text": "Фототехника среднего и большого форматов"
			},
		],
		"reviews": [
			"Цифровые зеркальные фотокамеры (7423)",
			"Цифровые компактные фотокамеры (12677)",
			"Пленочные зеркальные фотокамеры (1375)",
			"Пленочные компактные фотокамеры (188)",
			"Фототехника среднего формата (124)",
			"Объективы с переменным фокусным расстоянием (8718)",
			"Объективы с постоянным фокусным расстоянием (5814)",
			"Цифровые компактные фотокамеры (12677)",
			"Пленочные зеркальные фотокамеры (1375)",
			"Пленочные компактные фотокамеры (188)",
			"Пленочные компактные фотокамеры (188)",
		],
		"flea": {
			"heading": [
				{
					"title": "Объявлений"
				},
				{
					"title": "Сегодня"
				},
				{
					"title": "Всего"
				},
			],
			"list": [
				{
					"text": "Куплю",
					"number": "+12",
					"total": "4526"
				},
				{
					"text": "Продам",
					"number": "+52",
					"total": "3165"
				},
			]
		},
		"projects": [
			{
				"text": "Культурное наследие СССР: 12 работ, от которых тепло на душе",
				"dateStart": "18.03.2022",
				"dateEnd": "22.05.2022"
			},
			{
				"text": "Культурное наследие СССР: 12 работ, от которых тепло на душе",
				"dateStart": "18.03.2022",
				"dateEnd": "22.05.2022"
			},
			{
				"text": "Культурное наследие СССР: 12 работ, от которых тепло на душе",
				"dateStart": "18.03.2022",
				"dateEnd": "22.05.2022"
			},
			{
				"text": "Культурное наследие СССР: 12 работ, от которых тепло на душе",
				"dateStart": "18.03.2022",
				"dateEnd": "22.05.2022"
			},
			{
				"text": "Культурное наследие СССР: 12 работ, от которых тепло на душе",
				"dateStart": "18.03.2022",
				"dateEnd": "22.05.2022"
			},
			{
				"text": "Культурное наследие СССР: 12 работ, от которых тепло на душе",
				"dateStart": "18.03.2022",
				"dateEnd": "22.05.2022"
			},
			{
				"text": "Культурное наследие СССР: 12 работ, от которых тепло на душе",
				"dateStart": "18.03.2022",
				"dateEnd": "22.05.2022"
			},
			//- {
			//- 	"text": "Культурное наследие СССР: 12 работ, от которых тепло на душе",
			//- 	"dateStart": "18.03.2022",
			//- 	"dateEnd": "22.05.2022"
			//- },
		],
		"classicPhoto": {
			"list": [
				{
					"text": "Александр Родченко <br> “Конституция”",
					"year": "1937 г.",
				},
				{
					"text": "Ричард Авендон <br> “Композитор Игорь Стравинский”",
					"year": "1937 г.",
				},
				{
					"text": "Александр Родченко <br> “Конституция”",
					"year": "1937 г.",
				},
				{
					"text": "Александр Родченко <br> “Конституция”",
					"year": "1937 г.",
				},
				{
					"text": "Ричард Авендон <br> “Композитор Игорь Стравинский”",
					"year": "1937 г.",
				},
			],
			"links": [
				{
					"name": "Август Зандер,",
					"link": "https://web.archive.org/web/20220322172447/https://club.foto.ru/classics/49"
				},
				{
					"name": "Александр Родченко,",
					"link": "https://web.archive.org/web/20220322172436/https://club.foto.ru/classics/25"
				},
				{
					"name": "Альфред Стиглиц,",
					"link": "https://web.archive.org/web/20220322172439/https://club.foto.ru/classics/52"
				},
				{
					"name": "Андре Кертеш,",
					"link": "https://web.archive.org/web/20220322172427/https://club.foto.ru/classics/51"
				},
				{
					"name": "Анри Картье-Брессон,",
					"link": "https://web.archive.org/web/20220322172425/https://club.foto.ru/classics/29"
				},
				{
					"name": "Ансел Адамс,",
					"link": "https://web.archive.org/web/20220322172439/https://club.foto.ru/classics/44"
				},
				{
					"name": "Аркадий Шайхет,",
					"link": "https://web.archive.org/web/20220322172448/https://club.foto.ru/classics/46"
				},
				{
					"name": "Борис Игнатович,",
					"link": "https://web.archive.org/web/20220322172415/https://club.foto.ru/classics/5"
				},
				{
					"name": "Василий Сокорнов,",
					"link": "https://web.archive.org/web/20220322172420/https://club.foto.ru/classics/26"
				},
				{
					"name": "Дмитрий Бальтерманц,",
					"link": "https://web.archive.org/web/20220322172503/https://club.foto.ru/classics/36"
				},
				{
					"name": "Евгений Халдей,",
					"link": "https://web.archive.org/web/20220322172457/https://club.foto.ru/classics/43"
				},
				{
					"name": "Иван Шагин,",
					"link": "https://web.archive.org/web/20220322172444/https://club.foto.ru/classics/45"
				},
				{
					"name": "Карл Булла,",
					"link": "https://web.archive.org/web/20220322172441/https://club.foto.ru/classics/2"
				},
				{
					"name": "Максим Дмитриев,",
					"link": "https://web.archive.org/web/20220322172425/https://club.foto.ru/classics/1"
				},
				{
					"name": "Ричард Аведон,",
					"link": "https://web.archive.org/web/20220322172430/https://club.foto.ru/classics/47"
				},
				{
					"name": "Роберт Капа",
					"link": "https://web.archive.org/web/20220322172420/https://club.foto.ru/classics/48"
				},
			]
		},
		"bigNews": [
			{
				"img": "1",
				"title": "20 редких и нежных фото о любви детей и собак.",
				"text": "Собака в современном мире давно перестала быть другом, став полноценным членом семьи. Она и за детьми присмотрит, и хозяину настроение поднимет и чужих от дома отгонит.",
				"date": "17.01.2022"
			},
			{
				"img": "2",
				"title": "20 редких и нежных фото о любви детей и собак.",
				"text": "Собака в современном мире давно перестала быть другом, став полноценным членом семьи. Она и за детьми присмотрит, и хозяину настроение поднимет и чужих от дома отгонит.",
				"date": "17.01.2022"
			},
			{
				"img": "3",
				"title": "20 редких и нежных фото о любви детей и собак.",
				"text": "Собака в современном мире давно перестала быть другом, став полноценным членом семьи. Она и за детьми присмотрит, и хозяину настроение поднимет и чужих от дома отгонит.",
				"date": "17.01.2022"
			},
		],
		"partionGallery": [
			{
				"title": "Все работы",
				"value": "14К+"
			},
			{
				"title": "Абстракция",
				"value": "898"
			},
			{
				"title": "Архитектура. Памятники. Интерьер",
				"value": "12"
			},
			{
				"title": "Воздушная фотосъемка",
				"value": "190К+"
			},
			{
				"title": "Гламур",
				"value": "14К+"
			},
			{
				"title": "Городской пейзаж",
				"value": "898"
			},
			{
				"title": "Дети",
				"value": "12"
			},
			{
				"title": "Домашние животные",
				"value": "190К+"
			},
			{
				"title": "Жанр",
				"value": "14К+"
			},
			{
				"title": "Животные",
				"value": "898"
			},
			{
				"title": "Из жизни Клуба Foto.ru",
				"value": "12"
			},
			{
				"title": "Индастриал",
				"value": "190К+"
			},
			{
				"title": "Макро",
				"value": "14К+"
			},
			{
				"title": "Микромир",
				"value": "898"
			},
			{
				"title": "Натюрморт",
				"value": "12"
			},
			{
				"title": "Папарацци",
				"value": "190К+"
			},
			{
				"title": "Подводная фотосъемка",
				"value": "14К+"
			},
			{
				"title": "Портрет",
				"value": "898"
			},
			{
				"title": "Природный пейзаж",
				"value": "12"
			},
			{
				"title": "Путешествия. Туризм",
				"value": "190К+"
			},
			{
				"title": "Разное",
				"value": "14К+"
			},
			{
				"title": "Рассветы. Закаты",
				"value": "898"
			},
			{
				"title": "Рекламное фото",
				"value": "12"
			},
			{
				"title": "Репортаж",
				"value": "190К+"
			},
			{
				"title": "Свадебная фотография",
				"value": "14К+"
			},
			{
				"title": "Спорт",
				"value": "898"
			},
			{
				"title": "Стереофотография",
				"value": "12"
			},
			{
				"title": "Техника",
				"value": "190К+"
			},
			{
				"title": "Фото - Арт",
				"value": "14К+"
			},
			{
				"title": "ФотоОхота",
				"value": "898"
			},
			{
				"title": "Цветы. Флора. Грибы",
				"value": "12"
			},
			{
				"title": "Цифра-монтаж",
				"value": "190К+"
			},
			{
				"title": "Эротика. Ню - арт",
				"value": "14К+"
			},
			{
				"title": "Юмор",
				"value": "898"
			},
			{
				"title": "Фото не для всех",
				"value": "12"
			},
			{
				"title": "Банк фотомоделей",
				"value": "190К+"
			},
			{
				"title": "Галерея кланов",
				"value": "14К+"
			},
		],
		"bestPhoto": [
			{
				"img": "1",
				"name": "“Мастер и Маргарита”",
				"author": "от Moderator",
				"badge": "<span class='item-gallery__badge item-gallery__badge--green'>Выбор Худсовета</span>",
			},
			{
				"img": "2",
				"name": "“Мастер и Маргарита”",
				"author": "от Moderator",
				"badge": "<span class='item-gallery__badge item-gallery__badge--red'>Выбор ЧКФР</span>",
			},
			{
				"img": "3",
				"name": "“Мастер и Маргарита”",
				"author": "от Moderator",
				"badge": "<span class='item-gallery__badge item-gallery__badge--green'>Выбор Худсовета</span>",
			},
			{
				"img": "1",
				"name": "“Мастер и Маргарита”",
				"author": "от Moderator",
				"badge": "<span class='item-gallery__badge item-gallery__badge--red'>Выбор ЧКФР</span>",
			},
			{
				"img": "2",
				"name": "“Мастер и Маргарита”",
				"author": "от Moderator",
				"badge": "<span class='item-gallery__badge item-gallery__badge--green'>Выбор Худсовета</span>",
			},
			{
				"img": "3",
				"name": "“Мастер и Маргарита”",
				"author": "от Moderator",
				"badge": "<span class='item-gallery__badge item-gallery__badge--red'>Выбор ЧКФР</span>",
			},
		],
		"mainGallery": [
			{
				"img": "1",
				"name": "“Мастер и Маргарита”",
				"author": "от Moderator",
				"badge": "<span class='item-gallery__badge'>12</span>",
			},
			{
				"img": "2",
				"name": "“Мастер и Маргарита”",
				"author": "от Moderator",
				"badge": "<span class='item-gallery__badge'>145</span>",
			},
			{
				"img": "3",
				"name": "“Мастер и Маргарита”",
				"author": "от Moderator",
				"badge": "<span class='item-gallery__badge'>15</span>",
			},
			{
				"img": "4",
				"name": "“Мастер и Маргарита”",
				"author": "от Moderator",
				"badge": "<span class='item-gallery__badge'>5</span>",
			},
			{
				"img": "1",
				"name": "“Мастер и Маргарита”",
				"author": "от Moderator",
				"badge": "<span class='item-gallery__badge'>12</span>",
			},
			{
				"img": "2",
				"name": "“Мастер и Маргарита”",
				"author": "от Moderator",
				"badge": "<span class='item-gallery__badge'>145</span>",
			},
			{
				"img": "3",
				"name": "“Мастер и Маргарита”",
				"author": "от Moderator",
				"badge": "<span class='item-gallery__badge'>15</span>",
			},
			{
				"img": "4",
				"name": "“Мастер и Маргарита”",
				"author": "от Moderator",
				"badge": "<span class='item-gallery__badge'>5</span>",
			},
		],
		"photoModel": [
			{
				"img": "1",
				"title": "Маргарита",
				"descr": "Фотографий 234"
			},
			{
				"img": "2",
				"title": "Анна",
				"descr": "Фотографий 234"
			},
			{
				"img": "1",
				"title": "Маргарита",
				"descr": "Фотографий 234"
			},
			{
				"img": "2",
				"title": "Анна",
				"descr": "Фотографий 234"
			},
		],
		"howIsDone": [
			{
				"text": "Культурное наследие СССР: 12 работ, от которых тепло на душе",
			},
			{
				"text": "Культурное наследие СССР: 12 работ, от которых тепло на душе",
			},
			{
				"text": "Культурное наследие СССР: 12 работ, от которых тепло на душе",
			},
			{
				"text": "Культурное наследие СССР: 12 работ, от которых тепло на душе",
			},
			{
				"text": "Культурное наследие СССР: 12 работ, от которых тепло на душе",
			},
		],
		"additional": [
			{
				"title": "Лучшие фотографии"
			},
			{
				"title": "Авторы"
			},
			{
				"title": "Комментарии"
			},
			{
				"title": "Поиск в галерее"
			},
			{
				"title": "Поиск по дате"
			},
		]
	},
	galleries = {
		"photo": [
			{
				"img": "1",
			},
			{
				"img": "2",
			},
			{
				"img": "3",
			},
			{
				"img": "4",
			},
			{
				"img": "1",
			},
			{
				"img": "2",
			},
			{
				"img": "3",
			},
			{
				"img": "4",
			},
		],
		"recent": [
			{
				"img": "1",
			},
			{
				"img": "2",
			},
			{
				"img": "3",
			},
			{
				"img": "4",
			},
			{
				"img": "1",
			},
			{
				"img": "2",
			},
			{
				"img": "3",
			},
			{
				"img": "4",
			},
		]
	},
	footerMenu = [
		{
			"title": "Правила Клуба",
			"link": "#"
		},
		{
			"title": "О Клубе",
			"link": "#"
		},
		{
			"title": "Вход / Регистрация",
			"link": "#"
		},
		{
			"title": "Поиск авторов",
			"link": "#"
		},
		{
			"title": "ХудСовет",
			"link": "#"
		},
		{
			"title": "Как связаться",
			"link": "#"
		},
		{
			"title": "Статистика",
			"link": "#"
		},
		{
			"title": "Реклама на сайте",
			"link": "#"
		},
		{
			"title": "FAQ",
			"link": "#"
		},
		{
			"title": "Архив галереи",
			"link": "#"
		},
		{
			"title": "Архив форумов",
			"link": "#"
		},
	],
	forumLabels = [
		{
			"title": "Прикрепленная тема",
			"icon": "icon-info-gradient",
		},
		{
			"title": "Есть новые сообщения",
			"icon": "icon-new-message",
		},
		{
			"title": "Нет новых сообщений",
			"icon": "icon-no-message",
		},
		{
			"title": "Есть новые сообщения, тема закрыта",
			"icon": "icon-close-message",
		},
		{
			"title": "Нет новых сообщений, тема закрыта",
			"icon": "icon-unopened-message",
		},
	],
	badges = {
		"forum": [
			"Фотоаппараты",
			"Фототехника",
			"Только свет",
			"Конкурсы",
			"Архив",
		],
		"galleries": [
			"За сегодня",
			"За три дня",
			"За неделю",
			"За месяц",
			"За год",
		]
	},
	topicCards = [
		{
			"userImg": "user-1",
			"message_1": "1235",
			"message_2": "125",
			"userName": "User 123",
			"city": "Москва",
			"title": "Canon EOS RP",
			"subTitle": "14 февраля 2019 года компания Canon представила свою очередную новинку с RF-байонетом - Canon EOS RP:",
			"images": ['1', '2', '3'],
			"description": 'Напоминаю участникам дискуссии что тема "Canon EOS RP" посвящена камере Canon EOS RP. Любой обсуждение других камер, размещение фотографий с других камер - ЗАПРЕЩЕНО. Сравнения с другими камерами тоже большей частью запрещены. Почему "большей частью" - потому что наверное можно придумать те случаи когда они допустимы, но это точно не те случаи когда миссионер (или амбассадор или просто жирный тролль) пытается доказать владельцам камеры что есть камеры лучше или не хуже. Если вы владеете этой камерой и еще какой-то, то вы можете создать тему и в ней корректно(!) их сравнить. Если вы собираетесь приобрести эту камеру, но сомневаетесь то вы можете создать тему в разделе "Помогите выбрать".Обсуждение фото также разрешено ограниченно. Т.е. можно похвалить или поругать работу камеры. Допускается (если нет мочи терпеть) сдержано и кратко без избыточного цитирования похвалить фотографию и фотографа. Не допускается критиковать фотографа, сюжет или доказывать фотографу, что он мог снять эту фотографию на камеру другой модели или (не дай бог!) смартфон.В случае обнаружения подобного оффтопа и троллинга просьба немедленно жаловаться модератору.'
		},
		{
			"userImg": "user-2",
			"message_1": "1235",
			"message_2": "125",
			"userName": "User 123",
			"city": "Москва",
			"userNameTop": "Re User 123",
			"images": [],
			"description": 'Моё мнение, что все минусы и недостатки этой камеры (урезанные функции, может скинтон и тому подобное), будет покрывать её стоимость и доступность вместе с Kit. 1300$ за боди и 2200$ за 24-105 f/4L kit - это конечно фантастика для полного кадра. Убийственная цена для всех конкурентов.'
		},
		{
			"userImg": "user-3",
			"message_1": "1235",
			"message_2": "125",
			"userName": "User 123",
			"city": "Москва",
			"userNameTop": "Re User 123",
			"images": [],
			"description": '+ габариты, сравнимые с Canon EOS 800D.Если цены в РФ будут на уровне заявленных, то это похоже на то, как Canon давным-давно продвигал свой EOS 350, ставший по-настоящему массовой зеркалкой. Теперь же "ФФ в массы" с поддержкой EF и EF-S объективов.Камера по спецификациям далека от мечтаний для профи, но массовой станет точно. Да и профи в качестве резервной/прогулочной с каким-нибудь фиксом думаю тоже не откажутся.'
		},
	],
	emodjiList = [
		"1", "2", "3", "4", "5", "6", "7", "8", "9", "10"
	],
	radioColorList = [
		"1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11"
	],
	textPage = {
		"list": [
			"Запрещены любые проявления расизма, национализма, религиозной и социальной нетерпимости.",
			"Запрещены политическая агитация, призывы к насилию, пропаганда насильственных действий по отношению к отдельным людям, группам и т.д.",
			"Запрещено использование ненормативной лексики.",
			"Запрещена публикация порнографических снимков (см. ст. 242 УК РФ). Публикация эротических фотографий допускается только в специальных разделах Галереи фотографий и Галереи альбомов. Запрещена публикация эротических фотографий с участием детей и несовершеннолетних.",
			"Запрещена публикация снимков со сценами насилия.",
			"Запрещено размещение фотографий, оскорбляющих честь и достоинство отдельных людей или групп.",
			"Запрещено размещение чужих фотографий без письменного согласия их автора. Лица, не соблюдающие данного пункта, несут всю ответственность за нарушение авторских прав.",
			"Запрещена публикация ссылок на размещенное в Интернете нелицензионное ПО, публикация ключей, паролей и т.д. к программному обеспечению. Запрещены также просьбы предоставить подобные ссылки, пароли, ключи и т.п.",
			"Любое публичное обсуждение политики модерирования и действий модераторов будет заблокировано.",
			"Правила постинга в Галерее фотографий: член Клуба может разместить не более 3-х фотографий в течение 7 дней. Не учитываются фотографии, набравшие: 12 и более рекомендаций; оценку 4,75 или более от членов Клуба Foto.ru; оценку 4 или более от Худсовета Клуба Foto.ru. Требования к размещаемым фотографиям: формат - JPEG, размер - не более 400 Кбайт, цвет - RGB.",
			"В Галерее фотографий в случае обнаружения плагиата аккаунт пользователя немедленно удаляется. В случае подозрения на плагиат аккаунт блокируется до выяснения обстоятельств.",
			"В Галерее фотографий запрещены любые действия, приводящие к искусственному повышению рейтинга.",
			"В комментариях Галереи фотографий оценка личных и профессиональных качеств авторов или моделей не допускается.",
			"В Форумах запрещается создавать темы или сообщения, не соответствующие тематике соответствующего форума или соответствующей темы (оффтопик).",
			"В Форумах запрещается публикация одного и того же сообщения в разные форумы (кросспостинг).",
			"В Обсуждении фототехники не рекомендуется размещать более одного обзора на одно наименование техники. Повторные обзоры допускаются только при появлении новой информации или существенном пересмотре обзора.",
			'Любые обсуждения, связанные с работой сайта, рекомендуется проводить в форуме "О сайте".',
			"В случае обнаружения комментариев или фотографий, нарушающих Правила, следует обратиться к модератору."
		],
		"text": [
			"Администрация Клуба оставляет за собой право отказать в регистрации или заблокировать доступ любому пользователю без объяснения причин. Не допускается повторная регистрация одного и того же пользователя.",
			"В случае нарушения запретов, указанных выше, Администрация удаляет аккаунт пользователя без возможности восстановления.",
		],
		"links": [
			'Условия использования сайта "club.foto.ru".',
			"Пользовательское соглашение.",
			"Политика конфиденциальности.",
		],
	},
	mainPhoto = {
		"gallery": [
			{
				"img": "1",
			},
			{
				"img": "2",
			},
			{
				"img": "3",
			},
		],
		"smallGallery": [
			"1", "2", "3", "4", "5", "6", "7", "8"
		],
		"list": [
			{
				"name": "Название работы",
				"value": "И немедленно выпил",
			},
			{
				"name": "Серия",
				"value": "Венгерский альбом",
			},
			{
				"name": "Автор",
				"value": "Айдимир",
			},
			{
				"name": "Раздел",
				"value": "Из жизни Клуба Foto.ru",
			},
			{
				"name": "Дата добавления",
				"value": "13.10.2021 23:49:27",
			},
			{
				"name": "Оригинальное изображениe",
				"value": "1200x800, 195K(файл, exif)",
			},
			{
				"name": "Рекомендовано",
				"value": "4 раза - <a href='#'>кем?</a>",
			},
			{
				"name": "Добавлено в Избранное",
				"value": "0 раз",
			},
			{
				"name": "Количество просмотров",
				"value": "203",
			},
			{
				"name": "Рейтинг",
				"value": "5.000 / 4.333",
			},
			{
				"name": "Оценки",
				"value": "[0|0|0|9] / [0|0|2|1]",
			},
		],
		"comment": "Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей.",
		"comments": [
			{
				"name": "User123",
				"text": "(14#Ирина Свердлова): я был в шапочке, вдруг любопытно стало, практикуют ли начёс сегдоня? ))",
			},
			{
				"name": "User123",
				"text": false,
			},
		],
	},
	authorPage = {
		"list": [
			{
				"name": "Имя:",
				"value": "Айдимир",
			},
			{
				"name": "Возраст:",
				"value": "53 года",
			},
			{
				"name": "Стаж занятия фотографией:",
				"value": "25+ лет",
			},
			{
				"name": "Профессиональный уровень:",
				"value": "Начинающий фотограф",
			},
			{
				"name": "Род занятий:",
				"value": "Авиаинженер"
			},
			{
				"name": "Откуда:",
				"value": "Киев"
			},
			{
				"name": "Дата вступления в Клуб:",
				"value": "10.08.2011 21:12:19"
			},
			{
				"name": "Последний визит:",
				"value": "19.10.2021 14:58:35"
			},
		],
		"aboutText": "Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей.",
		"sliders": {
			"awards": [
				{
					"img": "1",
					"place": "gold",
					"text": "Первое место за день по рекомендациям 29&nbsp;августа 2023"
				},
				{
					"img": "2",
					"place": "silver",
					"text": "Первое место за день по рекомендациям 29&nbsp;августа 2023"
				},
				{
					"img": "3",
					"place": "bronze",
					"text": "Первое место за день по рекомендациям 29&nbsp;августа 2023"
				},
				{
					"img": "4",
					"place": "gold",
					"text": "Первое место за день по рекомендациям 29&nbsp;августа 2023"
				},
				{
					"img": "1",
					"place": "silver",
					"text": "Первое место за день по рекомендациям 29&nbsp;августа 2023"
				},
				{
					"img": "2",
					"place": "bronze",
					"text": "Первое место за день по рекомендациям 29&nbsp;августа 2023"
				},
				{
					"img": "3",
					"place": "gold",
					"text": "Первое место за день по рекомендациям 29&nbsp;августа 2023"
				},
				{
					"img": "4",
					"place": "silver",
					"text": "Первое место за день по рекомендациям 29&nbsp;августа 2023"
				},
			],
			"photos": ["1", "2", "3", "4", "1", "2", "3", "4"],
			"personal": [
				{
					"img": "1",
					"text": "Венгерский альбом",
				},
				{
					"img": "2",
					"text": "Хорватские хроники",
				},
				{
					"img": "3",
					"text": "Цифровое внутрикамерное наложение",
				},
				{
					"img": "4",
					"text": "Один день в Лавре | прощание с Владимиром",
				},
				{
					"img": "5",
					"text": "Венгерский альбом",
				},
				{
					"img": "6",
					"text": "Дагестан 2019",
				},
				{
					"img": "1",
					"text": "Венгерский альбом",
				},
				{
					"img": "2",
					"text": "Хорватские хроники",
				},
				{
					"img": "3",
					"text": "Цифровое внутрикамерное наложение",
				},
			],
		},
		"series": {
			"col_one": [
				"Венгерский альбом",
				"Italia_2017",
				"Чивский гамбит / Дагестан 2016",
				"Revolution#2",
				"Дагестан 2019",
				"Бакинский альбом",
				"Симона",
				"Дагестан 2018"
			],
			"col_two": [
				"Очень южная Италия",
				"Мay 12-13 Minsk 2018",
				"Плёночная фотография",
				"Мобильная фотография",
				"Один день в Лавре | прощание с Владимиром",
				"Цифровое внутрикамерное наложение",
				"Друг",
				"Хорватские хроники"
			],
			"col_three": [
				"Дагестан 2017",
			],
		},
		"blog": {
			"link": "blog.foto.ru/user/?user_id=399512"
		},
		"favorites": [
			{
				"title": "Избранные темы форума",
				"items": [
					{
						"caption": "Выбор второй жизни для традиционных накопителей (hdd) для фотографа",
						"label": "18 новых сообщений"
					},
					{
						"caption": "Выбор второй жизни для традиционных накопителей (hdd) для фотографа",
						"label": "18 новых сообщений"
					},
					{
						"caption": "Выбор второй жизни для традиционных накопителей (hdd) для фотографа",
						"label": "18 новых сообщений"
					},
				]
			},
			{
				"title": "Избранные сообщения",
				"items": [
					{
						"img": "1",
						"name": "Айдимир",
						"descr": "Выбор второй жизни для традиционных накопителей (hdd) для фотографа",
						"link": "Перейти"
					},
					{
						"img": "2",
						"name": "Айдимир",
						"descr": "Выбор второй жизни для традиционных накопителей (hdd) для фотографа",
						"link": "Перейти"
					},
					{
						"img": "3",
						"name": "Айдимир",
						"descr": "Выбор второй жизни для традиционных накопителей (hdd) для фотографа",
						"link": "Перейти"
					},
				]
			},
		]
	},
	advice = [
		{
			"number": "1",
			"person": "User123",
			"count": "1254545",
			"images": ["1", "2", "3", "4"]
		},
		{
			"number": "2",
			"person": "User123",
			"count": "1254545",
			"images": ["5", "6", "7", "8"]
		},
		{
			"number": "3",
			"person": "User123",
			"count": "1254545",
			"images": ["9", "10", "11", "12"]
		},
		{
			"number": "4",
			"person": "User123",
			"count": "1254545",
			"images": ["13", "14", "15", "16"]
		},
	],
	faq = {
		"sections": [
			{
				"title": "Разделы справочника",
				"list": [
					{
						"link": "Вопросы и ответы",
					},
					{
						"link": "Статьи", 
					},
					{
						"link": "Словарь", 
					},
				],
			},
			{
				"title": "Категории FAQ",
				"list": [
					{
						"link": "О сайте Клуба Фото.Ру",
					},
					{
						"link": "Галерея Клуба Foto.ru", 
					},
					{
						"link": "О Форуме Клуба",
						"subList": [
							"О сайте Клуба Фото.Ру",
							"Галерея Клуба Foto.ru",
							"О Форуме Клуба",
						],
					},
					{
						"link": "О школе Foto.ru"
					},
					{
						"link": "Практика съемки"
					},
					{
						"link": "Фотоаппараты"
					},
					{
						"link": "Оптика"
					},
					{
						"link": "Светофильтры"
					},
					{
						"link": "Студийное оборудование"
					},
					{
						"link": "Вспышки"
					},
					{
						"link": "История фотографии"
					},
					{
						"link": "Фотопленка"
					},
					{
						"link": "Зенит"
					},
				]
			},
		],
		"about": [
			"Авторизация: Если забыл пароль, логин, имя, адрес электронной почты.",
			"Авторизация: Как отписаться от всех писем?",
			"Авторизация: Как удалить свой аккаунт с сайта?",
			"Авторизация: Кто-то уже зарегистрировался под моим именем! (логином, емэйлом)",
			"Авторизация: 'Не могу авторизоваться. Что делать?'",
			"Авторизация: Почему иногда перебрасывает на магазин ФотоРу?",
			"Авторизация: Почему ко мне перестали приходить письма с уведомлениями?",
			"Авторизация: Почему меня не пускают на сайт?",
			"Авторизация: Почему мне не прислали пароль/логин при регистрации?",
			"Авторизация: Что делать, если забыл пароль, а почтовый ящик недоступен?",
			"Общее: Portscan detected",
			"Общее: У меня есть претензия к магазину Фото.ру по качеству обслуживания - куда писать?",
			"Общее: Чем отличаются Галерея Клуба и Персональные альбомы?",
			"Общее: Что такое IMHO / ИМХО?",
			"Общее: Что такое ЧКФР?",
			"Что такое игнор-лист?",
			"Я не нашел ответа на свой вопрос...",
			"Я получил Желтую карточку - что это такое?",
			"Я хочу поставить аватару. Размер допустимый. Пишет что аватара добавлена, но не появляется.",
		]
	},
	privatePage = {
		"dialogs": [
			{
				"img": "1",
				"user": "User123",
				"date": "Вчера",
				"text": "Привет, как дела?",
				"online": true,
				"read": "read"
			},
			{
				"img": "2",
				"user": "User123",
				"date": "Вторник",
				"text": "Привет, как дела?",
				"online": true,
				"read": "no-read-repeat"
			},
			{
				"img": "3",
				"user": "User123",
				"date": "11.12.2022",
				"text": "Привет, как дела?",
				"online": false,
				"read": "no-read"
			},
		],
		"chat": [
			{
				"text": "Привет, как дела?",
				"time": "14:07",
				"status": false,
			},
			{
				"img": "chat-1",
				"time": "14:07",
				"status": false,
			},
		]
	},
	productPage = {
		"badges": ["Еще продаете?", "Торг уместен?", "Когда можно посмотреть?"],
		"similar": [
			{
				"img": "1",
				"title": "Sony a6300",
				"price": "44000₽",
				"descr": "Краснодарский край, Краснодар, ул. Героев-Разведчиков, 6к4, р-н Прикубанский",
				"date": "11 февраля 15:01",
			},
			{
				"img": "2",
				"title": "Sony a6300",
				"price": "44000₽",
				"descr": "Краснодарский край, Краснодар, ул. Героев-Разведчиков, 6к4, р-н Прикубанский",
				"date": "11 февраля 15:01",
			},
			{
				"img": "3",
				"title": "Sony a6300",
				"price": "44000₽",
				"descr": "Краснодарский край, Краснодар, ул. Героев-Разведчиков, 6к4, р-н Прикубанский",
				"date": "11 февраля 15:01",
			},
			{
				"img": "1",
				"title": "Sony a6300",
				"price": "44000₽",
				"descr": "Краснодарский край, Краснодар, ул. Героев-Разведчиков, 6к4, р-н Прикубанский",
				"date": "11 февраля 15:01",
			},
		],
		"list": [
			{
				"caption": "Тип камеры",
				"value": "беззеркальная со сменной оптикой"
			},
			{
				"caption": "Формат матрицы",
				"value": "APS-C"
			},
			{
				"caption": "Байонет",
				"value": "Fujifilm X Mount"
			},
			{
				"caption": "Объектив в комплекте",
				"value": "есть"
			},
			{
				"caption": "Стабилизатор изображения (фотосъемка)",
				"value": "двойной"
			},
			{
				"caption": "Видоискатель",
				"value": "электронный"
			},
			{
				"caption": "Число эффективных мегапикселей матрицы",
				"value": "40"
			},
			{
				"caption": "Цена на Фотогоре",
				"value": "58 000 ₽"
			},
		],
		testimonials: [
			{
				"images": ["1", "2", "3", "4"],
				"experience": "несколько месяцев",
				"plus": "Маленький, быстрый, лучший",
				"minus": "Эргономика для меня показалась не удобна, но я думаю дело привычки или дополнительного чехла",
				"comment": "До этого снимала на хт2 и долго думала на что менять. Мне важно было так же остаться на маленьком фотоаппарате. Хорошо и быстро фокусирует, для студийных съемок мне подходит. Настройки все +- те же что и 2го, но все равно есть какие то новые фишки. Цвет у рав нравится очень как и всегда. Подробнее можно смотреть в обзорах, я просто обычный пользователь и все что мне надо-все есть в этом фотоаппарате"
			},
			{
				"experience": "несколько месяцев",
				"plus": "Маленький, быстрый, лучший",
				"minus": "Эргономика для меня показалась не удобна, но я думаю дело привычки или дополнительного чехла",
			},
		]
	},
	discussionPage = {
		"groupOne": [
			{
				"img": "1",
				"title": "Цифровые зеркальные фотоаппараты",
			},
			{
				"img": "2",
				"title": "Цифровые компактные фотокамеры",
			},
			{
				"img": "3",
				"title": "Плёночные зеркальные фотокамеры",
			},
			{
				"img": "4",
				"title": "Плёночные компактные фотокамеры",
			},
			{
				"img": "5",
				"title": "Фототехника среднего формата",
			},
			{
				"img": "6",
				"title": "Объективы с постоянным фокусным расстоянием",
			},
			{
				"img": "7",
				"title": "Объективы с переменным фокусным расстоянием",
			},
		],
		"groupTwo": [
			{
				"img": "1",
				"title": "Фотовспышки",
			},
			{
				"img": "2",
				"title": "Фото- и Видеоаксессуары",
			},
			{
				"img": "3",
				"title": "Студийное оборудование",
			},
			{
				"img": "4",
				"title": "Измерительное (фотометрическое) оборудование",
			},
			{
				"img": "5",
				"title": "Фотопринтеры",
			},
			{
				"img": "6",
				"title": "Сканеры для плёнки",
			},
			{
				"img": "7",
				"title": "Планшеты и калибраторы",
			},
		],
		"badges": ["Canon", "Fujifilm", "Minolta", "Nikon", "Kodak"],
		"table": [
			{
				"title": "Canon EOS 1000D",
			},
			{
				"title": "Canon EOS 1000D",
			},
			{
				"title": "Canon EOS 1000D",
			},
			{
				"title": "Canon EOS 1000D",
			},
			{
				"title": "Canon EOS 1000D",
			},
			{
				"title": "Canon EOS 1000D",
			},
			{
				"title": "Canon EOS 1000D",
			},
			{
				"title": "Canon EOS 1000D",
			},
			{
				"title": "Canon EOS 1000D",
			},
			{
				"title": "Canon EOS 1000D",
			},
			{
				"title": "Canon EOS 1000D",
			},
			{
				"title": "Canon EOS 1000D",
			},
		]
	},
	contestPage = {
		"winners": [
			{
				"place": "1",
			},
			{
				"place": "2",
			},
			{
				"place": "3",
			},
		],
		"prizes": [
			{
				"title": "Sony a6300",
				"place": "1",
			},
			{
				"title": "Godox MS300V-D",
				"place": "2",
			},
			{
				"title": "QZSD Q510 штатив",
				"place": "3",
			},
		],
	},
	junkPage = {
		"badges": ["Nikon", "Canon", "Minolta", "Kodak"]
	},
	exhibitionPage = {
		"defaultCard": [
			{
				"img": "1",
			},
			{
				"img": "2",
			},
			{
				"img": "3",
			},
		],
		"defaultCardSecond": [
			{
				"img": "1",
			},
			{
				"img": "2",
			},
			{
				"img": "3",
			},
			{
				"img": "3",
			},
		],
		"smallCard": [
			{
				"img": "small-1",
				"badge": "Сегодня"
			},
			{
				"img": "small-2",
				"badge": "Завтра"
			},
			{
				"img": "small-3",
				"badge": "Понедельник"
			},
			{
				"img": "small-4",
				"badge": "Апрель"
			},
		],
		"smallCardSecond": [
			{
				"img": "small-5",
				"content": "Москва Сити"
			},
			{
				"img": "small-6",
				"content": "Москва Сити"
			},
			{
				"img": "small-7",
				"content": "Москва Сити"
			},
			{
				"img": "small-8",
				"content": "Москва Сити"
			},
			{
				"img": "small-8",
				"content": "Москва Сити"
			},
		],
		"bigCard": ["1", "2", "3"],
		"eventsCard": [
			{
				"img": "event-1"
			},
			{
				"img": "event-2"
			},
			{
				"img": "event-3"
			},
			{
				"img": "event-4"
			},
		],
		"actionsFirst": ["Сегодня", "Май", "Июнь"],
		"actionsSecond": ["Все", "Природа", "Погода", "Портрет", "Натюрмотр"],
		"actionsThree": ["Все", "Большие", "Маленькие", "Средние"],
	},
	expositionPage = {
		"mainSlider": [
			{
				"img": "main-exposition-1",
			},
			{
				"img": "main-exposition-2",
			},
			{
				"img": "main-exposition-3",
				"video": true,
			},
			{
				"img": "main-exposition-4",
			},
			{
				"img": "main-exposition-5",
			},
			{
				"img": "main-exposition-6",
			},
		],
		"similarCards": [
			{
				"images": ["1", "2", "3"]
			},
			{
				"images": ["2", "3", "4", "1"]
			},
			{
				"images": ["3", "4", "1", "2"]
			},
			{
				"images": ["4", "1", "2", "3"]
			},
		]
	};
	

