// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1432;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 22;
// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;
// Ширина страбатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;
// Брейкпоинты
$pc: $containerWidth + px;
$xs: 479.98px;
$sm: 576px;
$md: 767.98px;
$lg: 991.98px;
$xl: 1023px;
$xxl: 1200px;
$xxxl: 1400px;

// размеры шрифтов
$fontSize: 14px;
// Основные Цвета
// $mainColor: #4b4b4b;
$mainColor: #4a4a4a;
$mainColorSecondary: #4a4a4a;
$whiteColor: #ffffff;
$blueColor: #307ff5;
$blueColorHover: #0142a3;
$bgOverlay: #f3f3f3;
$bg: #f3f3f3;
$greenColor: #659d5c;
$grayColor: #a4a4a4;
$boxShadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.05);
$br12: 12px;
$br10: 10px;
// Шрифты
$fontFamily: "Inter", sans-serif;
$secondFamily: "Rubik", sans-serif;
$fontWeight: 400;
$time: 0.3s;
