.popup__step.step-popup.step-popup-calendar
    .step-popup__heading 
        .step-popup__title Выберите свободное время
    .step-popup__calendar.popup-calendar
        .popup-calendar__legends 
            .popup-calendar__legend.popup-calendar__legend--lock Занято
            .popup-calendar__legend Свободно
    #calendar