.popup__step.step-popup
	.step-popup__heading 
		.step-popup__title Для чего бронируете?
	.step-popup__radiobuttons 
		each item, index in bookedPage.radiobuttons
			+bookedRadio(item, index, "booked-radio")