.main {
  &__top {
    margin-bottom: 13px;
    @media screen and (max-width: $md) {
      margin-bottom: 16px;
    }
  }
}
.top-main {
  &__wrapper {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    @media screen and (max-width: $md) {
      flex-direction: column;
      gap: 18px 0px;
    }
  }
  &__info {
    max-width: 560px;
    & > *:not(:last-child) {
      margin-bottom: 11px;
    }
    @media screen and (max-width: $md) {
      min-width: 100%;
    }
  }
  &__title {
    margin-bottom: 11px;
    hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
  }
  &__action {
    margin-left: 18px;
    @media screen and (max-width: $md) {
      margin: 7px auto 0;
      text-align: center;
    }
  }
  &__link {
  }
  &__banner {
    flex: 0 1 810px;
    border-radius: 12px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    min-height: 146px;
    position: relative;
    padding: 26px 33px;
    @media screen and (max-width: $md) {
      flex: 0;
      align-self: stretch;
      padding: 20px;
    }
    &-text {
      color: $whiteColor;
      text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.36);
      font-family: "Rubik", sans-serif;
      font-size: 32px;
      font-weight: 700;
      line-height: 120%;
      max-width: 470px;
      position: relative;
      z-index: 2;
      @media screen and (max-width: $md) {
        font-size: 24px;
      }
    }
  }
  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @media screen and (max-width: $md) {
      flex: 0;
      align-self: flex-start;
      width: 100%;
      min-height: auto;
    }
  }
}
.description-block {
  display: grid;
  grid-template-columns: repeat(2, 280px);
  gap: 10px;
  @media screen and (max-width: $xxl) {
    grid-template-columns: 1fr;
    gap: 10px 0px;
  }
  &__label {
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    line-height: 120%;
    grid-column: span 2;
    @media screen and (max-width: $xxl) {
      grid-column: unset;
    }
  }
  &__list {
    color: #a4a4a4;
    font-size: 12px;
    font-weight: 400;
    line-height: 130%;
    padding-left: 22px;
  }
  &__text {
    color: #a4a4a4;
    font-size: 12px;
    font-weight: 400;
    line-height: 120%;
  }
}
