@use "sass:math";
/* Стили для модальных окон */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 50;
  transition: opacity $time ease 0s;
  &.open-popup {
    opacity: 1;
    pointer-events: all;
    & .popup__content {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  &__wrapper {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 16px;
  }
  &__content {
    border-radius: 10px;
    background: $whiteColor;
    max-width: 1315px;
    width: 100%;
    padding: 20px;
    position: relative;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
    background: $whiteColor;
    opacity: 0;
    transform: translateY(-10%);
    transition: opacity $time ease 0s, transform $time * 1.4 ease 0s;
  }
  &__close {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    & svg {
      width: 19px;
      height: 19px;
    }
  }
  &__steps {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px 20px;
    margin-top: 15px;
    & .btn {
      @include media($sm) {
        padding-left: 12px;
        padding-right: 12px;
      }
    }
  }
  &__bottom-quantity {
    display: flex;
    align-items: center;
    gap: 10px 25px;
    @include media($md) {
      flex: 1 1 100%;
      flex-direction: column;
      align-items: flex-end;
      text-align: right;
    }
  }
  &__bottom-info {
    font-size: 16px;
    line-height: 150%;
    min-width: 102px;
    color: $grayColor;
    & strong {
      color: $mainColorSecondary;
      font-family: $secondFamily;
    }
    @include media($md) {
      min-width: auto;
    }
  }
  &__bottom-price {
    margin-right: 13px;
    font-size: 16px;
    line-height: 140%;
    color: $mainColorSecondary;
    text-align: right;
    & strong {
      font-family: $secondFamily;
      font-weight: 700;
      font-size: 28px;
      @include media($md) {
        font-size: 20px;
      }
    }
    & span {
      display: block;
      color: $grayColor;
    }
    @include media($md) {
      display: none;
    }
    &.mobile-price {
      display: none;
      @include media($md) {
        display: block;
        flex: 1 1 100%;
        margin: 0;
      }
    }
  }
}

.popup-actions {
  gap: 8px 12px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1 1 auto;
  flex-wrap: wrap;
}

.step-popup {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eaeaea;
  &:first-child {
    & .step-popup__heading {
      padding-bottom: 15px;
      border-bottom: 1px solid #eaeaea;
    }
  }
  &.step-popup-services {
    gap: 0;
    padding: 0;
    border: 0;
  }
  &__radiobuttons {
    display: flex;
    justify-content: space-between;
    gap: 15px 30px;
    flex-wrap: wrap;
    @include media($lg) {
      flex-direction: column;
    }
    & .base-radio {
      min-height: 48px;
      display: flex;
      align-items: center;
      @include media($lg) {
        min-height: auto;
      }
      &__label {
        min-height: 100%;
      }
    }
  }
  &__halls {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    @include media($lg) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include media($md) {
      grid-template-columns: 1fr;
      gap: 8px;
    }
  }
  &__heading {
    // padding-bottom: 15px;
    // border-bottom: 1px solid #eaeaea;
    .step-popup-calendar & {
      border: none;
      font-size: 20px;
    }
  }
  &__title {
    font-family: $secondFamily;
    font-weight: 700;
    font-size: 32px;
    max-width: calc(100% - 50px);
    @include media($md) {
      font-size: 24px;
    }
    .step-popup-calendar & {
      font-size: 20px;
    }
  }
}

.hall-item {
  position: relative;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 4px solid $blueColor;
    opacity: 0;
    z-index: 10;
    pointer-events: none;
    transition: border-color $time, opacity $time;
  }
  // .hall-item__input
  &__input {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    border: none;
    z-index: 2;
    outline: none;
    border-radius: 0;
    cursor: default;
    @include hover {
      cursor: pointer;
    }
  }
  &:has(input:checked) {
    &::before {
      opacity: 1;
    }
    & .hall-item__content {
      background-color: rgba(48, 127, 245, 0.8);
    }
  }
  // .hall-item__image
  &__image {
    padding-bottom: math.div(214, 306) * 100%;
  }
  // .hall-item__content
  &__content {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: $whiteColor;
    transition: background-color $time;
  }
}

.popup-calendar {
  // .popup-calendar__legends
  &__legends {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
  }
  // .popup-calendar__legend
  &__legend {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 14px;
    color: $mainColorSecondary;
    &::before {
      content: "";
      display: block;
      border: 1px solid #dedede;
      width: 80px;
      height: 35px;
    }
    &--lock {
      &::before {
        border: 1px solid #ebebeb;
        background-color: #d8d8d8;
      }
    }
  }
}

/* Дополнительные услуги */
.services-items {
  margin-top: 15px;
}
.services-item {
  padding: 15px 0;
  border-top: 1px solid #eaeaea;
  &:last-child {
    border-bottom: 1px solid #eaeaea;
  }
  // .services-item__header
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    padding-right: 37px;
    margin-left: 15px;
    position: relative;
    min-height: 48px;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%) rotate(-90deg);
      right: 0;
      display: block;
      width: 20px;
      height: 20px;
      mask-image: url("../images/icons/chevron-left.svg");
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: 20px 20px;
      background-color: $grayColor;
      transition: transform $time ease 0s;
    }
    &.active {
      &::before {
        transform: translateY(-50%) rotate(-90deg) scale(-1, 1);
      }
    }
    @include hover {
      cursor: pointer;
    }
    @include media($md) {
      flex-direction: column;
      margin-left: 0;
      align-items: flex-start;
    }
  }
  & .checkbox__label {
    font-weight: 700;
    font-size: 20px;
  }
  // .services-item__actions
  &__actions {
    display: flex;
    align-items: center;
    gap: 17px;
    @include media($md) {
      width: 100%;
      gap: 10px;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    @include media($sm) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  // .services-item__price
  &__price {
    font-weight: 700;
    font-size: 20px;
    text-align: right;
    font-family: $secondFamily;
    min-width: 164px;
    @include media($md) {
      min-width: auto;
      font-size: 16px;
    }
  }
  // .services-item__content
  &__content {
    margin-top: 15px;
    padding: 0px 48px;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    display: none;
    &.active {
      display: block;
      animation: fadeIn 0.5s ease-in-out both;
    }
    @include media($md) {
      padding: 0;
    }
  }
}

.base-checkbox {
  &__text {
    text-align: left;
  }
  & .checkbox__label {
    gap: 15px;
    font-weight: 400;
    font-size: 16px;
    color: $mainColorSecondary;
    & a {
      text-decoration: underline;
      text-underline-offset: 4px;
      color: $blueColor;
      text-decoration-color: currentColor;
      transition: color $time ease;
      @include hover {
        color: $blueColorHover;
      }
    }
  }
  & .custom-checkbox {
    width: 18px;
    height: 18px;
    flex: 0 0 18px;
    &::before {
      mask-image: url("../images/icons/check-white.svg");
      background-color: $whiteColor;
    }
  }
  & .real-checkbox:checked + .custom-checkbox {
    background-color: $blueColor;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.services-item-card {
}

.quantity-actions {
  display: flex;
  align-items: center;
  gap: 17px;
  @include media($md) {
    gap: 10px;
  }
}
.quantity-btn {
  border: 1px solid #d2d2d2;
  border-radius: 8px;
  padding: 5px;
  width: 42px;
  height: 42px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  @include media($md) {
    width: 30px;
    height: 30px;
  }
}
.quantity-input {
  border-radius: 8px;
  padding: 5px;
  width: 66px;
  height: 46px;
  flex-shrink: 0;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  font-family: $secondFamily;
  @include media($md) {
    height: 30px;
    width: 40px;
    font-size: 18px;
  }
}

/* Оформление заказа  */
.order-groups {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.order-group {
  &:not(:last-child) {
    padding-bottom: 15px;
    border-bottom: 1px solid #eaeaea;
  }
  // .order-group__caption
  &__caption {
    font-weight: 700;
    font-size: 20px;
    font-family: $secondFamily;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
  // .order-group__fields
  &__fields {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    @include media($xxl) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include media($md) {
      grid-template-columns: 1fr;
      gap: 10px;
    }
  }
  // .order-group__field
  &__field {
    &:last-child {
      grid-column: 1 / -1;
      @include media($md) {
        grid-column: unset;
      }
    }
  }
  // .order-group__field-nickname
  &__field-nickname {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 12px;
      width: 32px;
      height: 32px;
      background-image: url("../images/icons/icon-vk.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 22px;
      width: 20px;
      height: 20px;
      display: grid;
      place-items: center;
      background-image: url("../images/icons/choice-arrow.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
    & .form-input.form-input-nickname {
      padding-left: 54px;
      padding-right: 48px;
    }
  }
  // .order-group__result
  &__result {
  }
}
.services-item-card {
  display: flex;
  align-items: center;
  gap: 15px;
  .order-group & {
    gap: 18px;
    @include media($md) {
      display: grid;
      grid-template-columns: 100px 1fr;
    }
  }

  // .services-item-card__image
  &__image {
    flex-shrink: 0;
    width: 100px;
    height: 70px;
    border: 2.15px solid $blueColor;
  }
  // .services-item-card__content
  &__content {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    font-family: $secondFamily;
    color: $mainColorSecondary;
    @include media($md) {
      font-size: 16px;
    }
  }
  // .services-item-card__count
  &__count {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    flex: 1 1 auto;
    & .form-input.form-input-count {
      width: 54px;
      height: 49px;
      text-align: center;
      padding: 4px;
    }
    @include media($lg) {
      flex-direction: column;
      text-align: center;
    }
  }
  // .services-item-card__price
  &__price {
    min-width: 178px;
    text-align: right;
    font-weight: 700;
    font-size: 20px;
    font-family: $secondFamily;
    @include media($lg) {
      min-width: auto;
    }
  }
}
.order-group {
  & .form-input {
    min-height: 49px;
    border-radius: 8px;
    border: 1px solid #dfdfdf;
    background: transparent;
    padding: 11px 15px;
    color: $mainColor;
    font-family: $fontFamily;
    &::placeholder {
      color: $mainColor;
      font-family: $fontFamily;
    }
    &:focus {
      border-color: $mainColor;
    }
  }
}

.form-textarea {
  min-height: 80px;
  resize: none;
  border-radius: 8px;
  border: 1px solid #dfdfdf;
  background: transparent;
  font-family: $fontFamily;
  padding: 11px 15px;
  color: $mainColor;
  font-weight: 400;
  font-size: 16px;
  line-height: 110%;
  width: 100%;
  transition: border-color 0.2s ease 0s;
  &::placeholder {
    color: $mainColor;
    font-family: $fontFamily;
    font-size: 16px;
    font-weight: 400;
    line-height: 110%;
    transition: opacity 0.2s ease 0s;
  }
  &:focus {
    border-color: $mainColor;
    &::placeholder {
      opacity: 0;
    }
  }
}
.order-list {
  @include reset-list;
  display: flex;
  flex-direction: column;
  gap: 15px;
  // .order-list__item
  &__item {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 16px;
    line-height: 120%;
    @include media($md) {
      justify-content: space-between;
      flex-direction: column;
      gap: 10px;
      &:not(:last-child) {
        padding-bottom: 10px;
        border-bottom: 1px solid #eaeaea;
      }
    }
  }
  // .order-list__item-name
  &__item-name {
    flex: 1 1 auto;
  }
  // .order-list__item-time
  &__item-time {
    width: 59px;
    flex-shrink: 0;
    @include media($md) {
      text-align: center;
    }
  }
  // .order-list__item-price
  &__item-price {
    font-weight: 700;
    font-size: 20px;
    font-family: $secondFamily;
    min-width: 164px;
    text-align: right;
    flex-shrink: 0;
    @include media($md) {
      min-width: auto;
    }
  }
}
.intermediate {
  // .intermediate__price
  &__price {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    gap: 1px;
    font-size: 16px;
    line-height: 120%;
    & strong {
      font-weight: 700;
      font-size: 20px;
      line-height: 190%;
      font-family: $secondFamily;
    }
  }
}

.result-group {
  display: flex;
  flex-direction: column;
  // .result-group__heading
  &__heading {
    max-width: 386px;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    @include media($md) {
      max-width: 100%;
      margin: 0;
    }
  }
  // .result-group__promocode
  &__promocode {
    display: flex;
    align-items: center;
    gap: 10px 15px;
    & .form-input {
      &::placeholder {
        text-align: center;
      }
    }
    @include media($md) {
      flex-wrap: wrap;
      & > * {
        flex-grow: 1;
      }
    }
  }
  // .result-group__prices
  &__prices {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  // .result-group__price
  &__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    line-height: 120%;
    &--total {
      font-family: $secondFamily;
      font-weight: 700;
      & .result-group__value {
        font-size: 32px;
        @include media($md) {
          font-size: 20px;
        }
      }
    }
  }
  // .result-group__caption
  &__caption {
    font-size: 16px;
    width: 45%;
    @include media($md) {
      width: 50%;
    }
  }
  // .result-group__value
  &__value {
    font-size: 20px;
    line-height: 120%;
    @include media($md) {
      font-size: 16px;
    }
  }
  // .result-group__agreement
  &__agreement {
    margin: 30px 0 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    gap: 30px;
    @include media($md) {
      gap: 15px;
      margin: 20px 0 15px;
    }
  }
}
