/* Стили для модальных окон */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f3f3f3;
  opacity: 0;
  pointer-events: none;
  overflow-y: auto;
  overflow-x: hidden;
  transition: opacity $time ease 0s;
  &.open-popup {
    opacity: 1;
    pointer-events: all;
    & .popup__content {
      opacity: 1;
      transform: translateY(0);
    }
  }
  &__wrapper {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 16px;
  }
  &__content {
    border-radius: 10px;
    background: $whiteColor;
    max-width: 1280px;
    width: 100%;
    padding: 20px;
    position: relative;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
    background: $whiteColor;
    opacity: 0;
    transform: translateY(20%);
    transition: opacity $time ease 0s, transform $time ease 0s;
  }
  &__close {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 20px;
    right: 20px;
    & svg {
      width: 19px;
      height: 19px;
    }
  }
  &__steps {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px 20px;
    margin-top: 15px;
  }
  &__bottom-quantity {
    display: flex;
    align-items: center;
    gap: 25px;
  }
  &__bottom-info {
    font-size: 16px;
    line-height: 150%;
    min-width: 102px;
    color: $grayColor;
    & strong {
      color: $mainColorSecondary;
      font-family: $secondFamily;
    }
  }
  &__bottom-price {
    margin-right: 13px;
    font-size: 16px;
    line-height: 140%;
    color: $mainColorSecondary;
    text-align: right;
    & strong {
      font-family: $secondFamily;
      font-weight: 700;
      font-size: 28px;
    }
    & span {
      display: block;
      color: $grayColor;
    }
  }
}

.popup-actions {
  gap: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.step-popup {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eaeaea;
  &:first-child {
    & .step-popup__heading {
      padding-bottom: 15px;
      border-bottom: 1px solid #eaeaea;
    }
  }
  &.step-popup-services {
    gap: 0;
    padding: 0;
    border: 0;
  }
  &__radiobuttons {
    display: flex;
    justify-content: space-between;
    gap: 10px 30px;
    flex-wrap: wrap;
    & .base-radio {
      min-height: 48px;
      display: flex;
      align-items: center;
      &__label {
        min-height: 100%;
      }
    }
  }
  &__halls {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
  }
  &__heading {
    // padding-bottom: 15px;
    // border-bottom: 1px solid #eaeaea;
    .step-popup-calendar & {
      border: none;
      font-size: 20px;
    }
  }
  &__title {
    font-family: $secondFamily;
    font-weight: 700;
    font-size: 32px;
    .step-popup-calendar & {
      font-size: 20px;
    }
  }
}

.hall-item {
  position: relative;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 4px solid $blueColor;
    opacity: 0;
    z-index: 10;
    pointer-events: none;
    transition: border-color $time, opacity $time;
  }
  // .hall-item__input
  &__input {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    border: none;
    z-index: 2;
    outline: none;
    border-radius: 0;
    cursor: default;
    @include hover {
      cursor: pointer;
    }
  }
  &:has(input:checked) {
    &::before {
      opacity: 1;
    }
    & .hall-item__content {
      background-color: rgba(48, 127, 245, 0.8);
    }
  }
  // .hall-item__image
  &__image {
    padding-bottom: math.div(214, 306) * 100%;
  }
  // .hall-item__content
  &__content {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: $whiteColor;
    transition: background-color $time;
  }
}

.popup-calendar {
  // .popup-calendar__legends
  &__legends {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
  }
  // .popup-calendar__legend
  &__legend {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 14px;
    color: $mainColorSecondary;
    &::before {
      content: "";
      display: block;
      border: 1px solid #dedede;
      width: 80px;
      height: 35px;
    }
    &--lock {
      &::before {
        border: 1px solid #ebebeb;
        background-color: #d8d8d8;
      }
    }
  }
}

.fc-today-button {
  border: 1px solid #d2d2d2;
  border-radius: 8px;
  padding: 11px 14px;
  width: 99px;
  height: 42px;
  font-size: 14px;
  text-align: center;
  padding: 10px 14px;
  color: $mainColor;
}
.fc .fc-button-primary:disabled {
  background-color: transparent;
  border-color: #d2d2d2;
  color: $mainColor;
  pointer-events: none;
}

.fc-buttonPrev-button,
.fc-buttonNext-button,
.fc-buttonToday-button,
.fc-buttonNightTimeToggle-button {
  border: 1px solid #d2d2d2;
  color: $mainColor;
  border-radius: 8px;
  padding: 11px 14px;
  width: auto;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  &.fc-button-primary {
    background-color: transparent;
    border-radius: 8px;
    border-color: #d2d2d2;
    color: $mainColor;
    &:hover {
      background-color: transparent;
      border-color: #d2d2d2;
      color: $mainColor;
    }
    &:focus,
    &:active {
      box-shadow: none;
      background-color: transparent;
    }
  }
}

.fc-direction-ltr .fc-button-group > .fc-button:not(:last-child) {
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}
.fc-direction-ltr .fc-button-group > .fc-button:not(:first-child) {
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  margin-left: 0px;
}

.fc-buttonToday-button {
  width: 99px;
}

.fc-buttonPrev-button,
.fc-buttonNext-button {
  width: 42px;
  &::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    mask-image: url("../images/icons/chevron-left.svg");
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: #a4a4a4;
  }
}

.fc .fc-button-primary:not(:disabled).fc-button-active,
.fc .fc-button-primary:not(:disabled):active {
  background-color: transparent;
  border-color: initial;
  color: $mainColor;
}

.fc .fc-button-primary:not(:disabled).fc-button-active:focus,
.fc .fc-button-primary:not(:disabled):active:focus {
  box-shadow: none;
}
.fc-button-group {
  display: flex;
  align-items: center;
  gap: 9px;
}

.fc-buttonNext-button {
  &::before {
    transform: scaleX(-1);
  }
}

.fc .fc-toolbar-title {
  color: $blueColor;
  font-size: 14px;
  font-weight: 400;
  margin: 0 14px;
}

.fc .fc-toolbar {
  justify-content: flex-start;
  gap: 9px;
  & .fc-toolbar-chunk:last-child {
    margin-left: auto;
  }
}

.fc table {
  font-weight: 400;
  font-size: 14px;
  & td {
    height: 35px;
    font-weight: 400;
    &:has(.fc-scrollgrid-shrink) {
      width: 102px;
    }
    // &.fc-timegrid-slot.fc-timegrid-slot-lane {
    //   border: none;
    // }
  }
  & .fc-scrollgrid-sync-inner {
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.fc .fc-timegrid-slot {
  height: 35px;
}
.fc .fc-col-header-cell-cushion {
  font-weight: 400;
}

.fc .fc-toolbar.fc-header-toolbar {
  margin-bottom: 15px;
}

.fc .fc-timegrid-col.fc-day-today {
  background-color: transparent;
}

.fc .fc-bg-event {
  opacity: 1;
}

.fc-direction-ltr .fc-timegrid-slot-label-frame {
  text-align: left;
}

// Попап "доп. услуги"
.services-items {
  margin-top: 15px;
}
.services-item {
  padding: 15px 0;
  border-top: 1px solid #eaeaea;
  &:last-child {
    border-bottom: 1px solid #eaeaea;
  }
  // .services-item__header
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding-right: 37px;
    padding-left: 15px;
    position: relative;
    min-height: 48px;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%) rotate(-90deg);
      right: 0;
      display: block;
      width: 20px;
      height: 20px;
      mask-image: url("../images/icons/chevron-left.svg");
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: 20px 20px;
      background-color: $grayColor;
    }
  }
  // .services-item__actions
  &__actions {
    display: flex;
    align-items: center;
    gap: 17px;
  }
  // .services-item__price
  &__price {
    font-weight: 700;
    font-size: 20px;
    text-align: right;
    font-family: $secondFamily;
    min-width: 164px;
  }
  // .services-item__content
  &__content {
    margin-top: 15px;
    padding: 0px 48px;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
  }
  & .checkbox__label {
    gap: 15px;
    font-weight: 700;
    font-size: 20px;
    color: $mainColorSecondary;
  }
  & .custom-checkbox {
    width: 18px;
    height: 18px;
    flex: 0 0 18px;
    &::before {
      mask-image: url("../images/icons/check-white.svg");
      background-color: $whiteColor;
    }
  }
  & .real-checkbox:checked + .custom-checkbox {
    background-color: $blueColor;
  }
}
.services-item-card {
  display: flex;
  align-items: center;
  gap: 15px;
  // .services-item-card__image
  &__image {
    flex-shrink: 0;
    width: 100px;
    height: 70px;
    border: 2.15px solid $blueColor;
  }
  // .services-item-card__content
  &__content {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    font-family: $secondFamily;
    color: $mainColorSecondary;
  }
}
.checkbox {
  // .checkbox__label
  &__label {
  }
}
.real-checkbox {
}
.custom-checkbox {
}
.quantity-actions {
  display: flex;
  align-items: center;
  gap: 17px;
}
.quantity-btn {
  border: 1px solid #d2d2d2;
  border-radius: 8px;
  padding: 5px;
  width: 42px;
  height: 42px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quantity-input {
  border-radius: 8px;
  padding: 11px 14px;
  width: 66px;
  height: 46px;
  flex-shrink: 0;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  font-family: $secondFamily;
}
