/* Базовые стили для страницы с кнопками. Далее можно будет удалить */
.booked-page {
  // .modals-page__buttons
  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
}
