extends includes/layout.pug

append variables
	- let pageTitle = "Пользовательское соглашение";
	- let mainTitle = "Пользователь&shy;ское соглашение";
	- description += pageTitle;
	- breadcrumbs = true;
block content
	.static-page 
		.container 
			.static-page__title.page-title !{mainTitle}
			.main__top.top-main
				.top-main__wrapper
					.top-main__info
						h1.top-main__title.page-title !{mainTitle}
						.top-main__description.description-block
							.description-block__label Зарегистрируйтесь! Вы сможете:
							ul.description-block__list 
								li добавлять новые темы в форумах
								li участвовать в их обсуждении
								li вступать в сообщества
							.description-block__text Форум для членов Клуба. Разрешен оффтоп (в&nbsp;разумных пределах)
						.top-main__action
							a(href="#").top-main__link.btn-show Пройти регистрацию
					a(href="#").top-main__banner
						.top-main__image.ibg
							picture
								source(srcset="images/agreement/banner.jpg" media="(min-width: 767.98px)")
								source(srcset="images/agreement/banner.jpg" media="(min-width: 320px)")
								img(src="images/agreement/banner.jpg", alt="Изображение" loading="lazy")
						.top-main__banner-text
							| Бленда для монитора для лучшей цветокоррекции
			.static-page__body 
				.static-page__top 
					time(datetime="2019-10-04").static-page__time Опубликовано «04» октября 2023 г.
				.static-page__content
					h2 Добро пожаловать на сайт Клуб FOTO.RU !
					p 
						| Для продолжения работы необходимо ознакомиться с настоящим Пользовательским Соглашением и принять его условия.
					p
						| Настоящее Пользовательское Соглашение (далее по тексту – #[strong «Соглашение»]), включая его неотъемлемые части – #[a(href="#") Условия использования] и #[a(href="#") Политику конфиденциальности], являясь публичной офертой в соответствии со статьей 435 и пунктом 2 статьи 437 Гражданского Кодекса РФ,
						| заключается между
					p. 
						#[strong 1) Индивидуальный предприниматель Васильев Г.А.]  (далее по тексту – #[strong «Компания»]), юридическим лицом, зарегистрированным согласно законодательству РФ, которое является разработчиком и администратором тематического информационного Интернет-ресурса Клуб FOTO.RU (далее по тексту – #[strong «Сайт»]), с одной стороны, и
					p.
						#[strong 2) пользователем сети Интернет, посетителем Сайта] – физическим лицом, достигшим возраста 14 (Четырнадцати) лет (далее по тексту – #[strong «Пользователь»]), с другой стороны,о нижеследующем:
					h3 1. Определения основных терминов Соглашения:
					p #[strong 1. «Акцепт»] – принятие всех без исключения условий настоящего Соглашения Пользователем посредством осуществления процедуры Регистрации на Сайте.
					p #[strong 2. «Регистрация]» – успешное заполнение Пользователем регистрационной формы, позволяющее создать на Сайте Учетную запись Пользователя.
					h3 2. Предмет настоящего Соглашения
					p #[strong 2.1.] В соответствии с настоящим Соглашением Компания предоставляет Пользователю Сервис, а Пользователь принимает его во временное использование в течение срока действия настоящего Соглашения (раздел 9).
					p #[strong 2.2.] Настоящее Соглашение рассматривается Сторонами и принимается Пользователем исключительно совместно с Условиями использования и Политикой конфиденциальности, являющимися неотъемлемыми частями Соглашения. Пользователь обязуется незамедлительно информировать Компанию в порядке, предусмотренном разделом 8 Соглашения, в случае:
					ul 
						li.
							если в действиях другого зарегистрированного пользователя усматриваются нарушения условий настоящего Соглашения;
						li.
							обнаружения копирования и использования информационного контента Сайта, в том числе, отдельных Сообщений и Материалов, на других Интернет-сайтах.
					p #[strong 8.1.] Вопросы, предложения, комментарии, жалобы и иные сообщения Пользователя по вопросам работы Сайта или Сервиса, направляются Компании по следующему адресу электронной почты: #[a(href="mailto:info@foto.ru") info@foto.ru]
					p #[strong 8.2.] Компания не несет ответственности за неполучение Пользователем ответа на его запрос. В случае неполучения Пользователем ответа Компании в течении 30 дней с даты получения запроса Компанией, Пользователь отправляет повторный запрос по почтовому адресу Компании, указанному ниже в ее реквизитах, заказным письмом, с уведомлением о вручении.

