extends includes/layout.pug

append variables
	- let pageTitle = "Личные сообщения";
	- description += pageTitle;
	- breadcrumbs = true;
block content
	.private-message
		.container 
			h1.private-message__title.page-title #{pageTitle}
			include ./components/chat