.badges__body
	ul.badges__list
		li
			a(href="#").badges__item Фотоаппараты
		li
			a(href="#").badges__item.active Фототехника
		li
			a(href="#").badges__item Только свет
		li
			a(href="#").badges__item Конкурсы
		li
			a(href="#").badges__item Архив