.badges__body
	ul.badges__list
		li.badges__item
			a(href="#") Фотоаппараты
		li.badges__item
			a(href="#") Фототехника
		li.badges__item.active
			a(href="#") Только свет
		li.badges__item
			a(href="#") Конкурсы
		li.badges__item
			a(href="#") Архив