+popup("popup-booked")
	.popup__steps 
		include ../blocks/popupStepBooked
	.popup__bottom
		.popup-actions
			button(type="button").btn.btn-blue Далее 
+popup("popup-booked-hall")
	.popup__steps 
		.popup__step.step-popup
			.step-popup__heading 
				.step-popup__title Для чего бронируете?
			.step-popup__radiobuttons 
				each item, index in bookedPage.radiobuttons
					+bookedRadio(item, index, "booked-radio-step-2")
		include ../blocks/popupStepHall
	.popup__bottom
		.popup-actions
			button(type="button").btn.btn-blue Далее 
+popup("popup-booked-calendar", "open-popup")
	.popup__steps 
		.popup__step.step-popup
			.step-popup__heading 
				.step-popup__title Для чего бронируете?
			.step-popup__radiobuttons 
				each item, index in bookedPage.radiobuttons
					+bookedRadio(item, index, "booked-radio-step-3")
		.popup__step.step-popup
			.step-popup__heading 
				.step-popup__title Выберите зал
			.step-popup__halls
				each hall, hallIndex in bookedPage.halls
					+bookedHall(hall, hallIndex, "booked-hall-step-3")
		include ../blocks/popupStepCalendar
	.popup__bottom 
		.popup__bottom-price.mobile-price
			| #[strong 10 000 ₽] 
			span включая скидку&nbsp;0 руб.
		.popup__bottom-quantity
			.popup__bottom-info Всего #[br] #[strong 1 заказ]
			.popup__bottom-info За один раз #[br] не больше 5-ти заказов
		.popup-actions
			.popup__bottom-price 
				| #[strong 10 000 ₽] 
				span включая скидку&nbsp;0 руб.
			+btnReserve
+popup("popup-services")
	include ../blocks/popupStepServices
	.popup__bottom 
		.popup__bottom-price.mobile-price
			| #[strong 10 000 ₽] 
			span включая скидку&nbsp;0 руб.
		button(type="button").btn.btn-border Назад 
		.popup-actions
			.popup__bottom-price 
				| #[strong 10 000 ₽] 
				span включая скидку&nbsp;0 руб.
			button(type="button").btn.btn-blue Продолжить 
+popup("popup-order")
	.popup__steps 
		.popup__step.step-popup
			.step-popup__heading 
				.step-popup__title Оформление заказа
			.order-groups
				.order-group
					.services-item-card 
						.services-item-card__image.image-ibg
							img(src="images/booked/service-img.jpg", alt="карточка")
						.services-item-card__content 
							span Зал №2
							span 8-14 сентября
							span 06:00 - 12:00
						.services-item-card__count 
							| Сколько человек будет в зале?
							input(type="number", name="count_people" value="2").form-input.form-input-count
						.services-item-card__price 18 000 ₽
				.order-group
					ul.order-list 
						each listItem in bookedPage.orderPopup.serviceList
							li.order-list__item 
								span.order-list__item-name= listItem.title
								span.order-list__item-time= listItem.time
								span.order-list__item-price= listItem.price
				.order-group
					.intermediate__price 
						| #[strong 18 900 ₽]
						span Включая скидку 100 ₽
				.order-group
					.order-group__caption Как с Вами связаться?
					.order-group__fields 
						.order-group__field
							input(type="text" name="order_name" placeholder="Имя Фамилия").form-input
						.order-group__field
							input(type="email" name="order_name" placeholder="Email").form-input
						.order-group__field
							input(type="tel" name="order_phone" placeholder="Телефон").form-input
						.order-group__field.order-group__field-nickname
							input(type="text" name="order_nickname" placeholder="Ник или ID без @").form-input.form-input-nickname
						.order-group__field
							textarea(name="order_message" placeholder="Комментарий").form-textarea
				.order-group
					.order-group__result.result-group
						.result-group__heading
							.result-group__promocode
								.order-group__field
									input(type="text" name="order_name" placeholder="Промокод / Сертификат").form-input
								button(type="button").btn.btn-blue Применить 
							.result-group__prices
								.result-group__price 
									span.result-group__caption Стоимость:
									span.result-group__value 21 600 ₽
								.result-group__price.result-group__price--total
									span.result-group__caption #[strong Итого:]
									span.result-group__value 21 600 ₽
								.result-group__price 
									span.result-group__caption Предоплата в&nbsp;течение 1 часа
									span.result-group__value 10 800 ₽
						.result-group__agreement
							.checkbox.base-checkbox 
								label.checkbox__label
									input(type="checkbox" name="order_rules" checked).real-checkbox
									span.custom-checkbox
									span.base-checkbox__text Я ознакомлен с #[a(href="#") правилами студии] «AppEvent Фотостудия» и согласен с ними
							.checkbox.base-checkbox 
								label.checkbox__label
									input(type="checkbox" name="order_personal" checked).real-checkbox
									span.custom-checkbox
									span.base-checkbox__text Я ознакомлен и согласен на обработку #[a(href="#") персональных данных] AppEvent
							.checkbox.base-checkbox 
								label.checkbox__label
									input(type="checkbox" name="order_terms" checked).real-checkbox
									span.custom-checkbox
									span.base-checkbox__text Я ознакомлен с #[a(href="") условиями/условиями использования] AppEvent и согласен с ними
	.popup__bottom 
		.popup-actions
			button(type="button").btn.btn-border Отменить 
			+btnReserve