.junk {
  padding-bottom: 29px;
  @media screen and (max-width: $md) {
    padding-bottom: 15px;
  }
  &__heading {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    @media screen and (max-width: $md) {
      margin-bottom: 8px;
    }
  }
  &__title {
    margin-bottom: 0;
    line-height: 120%;
    @media screen and (max-width: $md) {
      margin: 0;
      font-size: 20px;
    }
  }
  &__body {
    display: grid;
    grid-template-columns: 330px 1fr;
    align-items: flex-start;
    grid-template-rows: auto 1fr;
    gap: 20px 30px;
    @media screen and (max-width: $lg) {
      grid-template-columns: 1fr;
      gap: 17px;
    }
  }
  &__aside {
    grid-row: 1 / 3;
    @media screen and (max-width: $lg) {
      position: fixed;
      width: 100%;
      height: 100dvh;
      top: 0;
      left: 0;
      transform: translateY(110%);
      overflow: hidden auto;
      grid-row: none;
      z-index: 25;
      transition: transform 0.5s;
      &.active {
        transform: translateY(0);
      }
      &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
        background-color: white;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #a4a4a4;
        border-radius: 5px;
      }
    }
    &-body {
      border: 1px solid #efefef;
      border-radius: 10px;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
      background: $whiteColor;
      padding: 16px 20px 18px;
      position: relative;
      @media screen and (max-width: $lg) {
        padding: 16px 15px 18px;
        border: none;
        box-shadow: none;
        border-radius: 0px;
      }
    }
  }
  & .sort-junk {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    @media screen and (max-width: $lg) {
      grid-column: span 3;
    }
  }
  &__cards {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    @media screen and (max-width: $lg) {
      grid-column: span 3;
    }
  }
  &__cards-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px 30px;
    @media screen and (max-width: $xxl) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: $lg) {
      gap: 17px;
    }
    @media screen and (max-width: $sm) {
      grid-template-columns: 1fr;
    }
  }
  &__card {
  }
  &__pagination {
    margin-top: 26px;
    @media screen and (max-width: $xxl) {
      & .pagination__item-first {
        margin-right: 5px;
      }
      & .pagination__item-last {
        margin-left: 5px;
      }
      & .pagination__list {
        gap: 10px;
      }
    }
    @media screen and (max-width: $md) {
      margin-top: 20px;
    }
  }
}
.filter-btn-mobile {
  display: none;
  font-size: 14px;
  align-items: center;
  gap: 7px;
  &::before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background-color: $blueColor;
    mask-image: url("../images/icons/filter-icon.svg");
    mask-repeat: no-repeat;
    mask-position: center;
  }
  @media screen and (max-width: $lg) {
    display: inline-flex;
  }
}

.filter-btn-close {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 16px;
  right: 14px;
  justify-content: center;
  align-items: center;
  display: none;
  background-color: $whiteColor;
  z-index: 2;
  &::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    mask-image: url("../images/icons/close-icon.svg");
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: $mainColor;
  }
  @media screen and (max-width: $lg) {
    display: flex;
  }
}

.filter {
  &__title {
    font-weight: 700;
    font-size: 20px;
    font-family: "Rubik", sans-serif;
    margin-bottom: 21px;
    line-height: 120%;
  }
}
.filter-groups {
  display: grid;
  gap: 24px;
}
.filter-group {
  & legend {
    display: block;
    font-weight: 700;
    font-size: 14px;
    font-family: "Rubik", sans-serif;
    margin-bottom: 24px;
    line-height: 120%;
  }
}

.filter-switches {
  & label {
    @media screen and (max-width: $md) {
      cursor: default;
    }
  }
}

.filter-group--device {
  & legend {
    margin-bottom: 11px;
  }
  & .filter-switches {
    display: grid;
    gap: 15px;
    padding-left: 6px;
    justify-content: start;
    & label {
      line-height: 120%;
      align-items: flex-start;
    }
    & input ~ span {
      font-size: 14px;
      transition: color 0.25s;
    }
    & input:checked ~ span {
      color: $blueColor;
    }
  }
}
.filter-group--brand {
  & legend {
    margin-bottom: 9px;
  }
  & .filter-switches {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 9px 10px;
    & input ~ span {
      border: 1px solid #a4a4a4;
      border-radius: 27px;
      padding: 3px 15px;
      font-size: 14px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: border-color 0.25s;
    }
    & input:checked ~ span {
      border-color: $blueColor;
    }
  }
}
.filter-group--novelty,
.filter-group--delivery,
.filter-group--rating,
.filter-group--names {
  & .filter-switches {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px 28px;
    & label {
      font-weight: 400;
      font-size: 14px;
      color: $mainColor;
      gap: 6px;
      line-height: 120%;
      font-family: "Inter", sans-serif;
    }
    & input + span {
      width: 16px;
      height: 16px;
      border-radius: 4px;
      border: 1px solid #a4a4a4;
      flex: 0 0 16px;
      &::before {
        mask-image: url("../images/icons/check-white.svg");
        background-color: $whiteColor;
      }
    }
    & input:checked + span {
      background-color: $blueColor;
      border-color: $blueColor;
    }
    & input ~ span.info-icon {
      width: 12px;
      height: 12px;
      flex-shrink: 0;
      display: block;
      align-self: flex-start;
      position: relative;
      top: -2px;
      left: -2px;
      background-image: url("../images/icons/help-circle.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      transform: scale(1.2);
    }
  }
}
.filter-group--price {
  & .filter-price {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    & input {
      &:first-child {
      }
      &:last-child {
      }
    }
  }
  & .form-item {
    &:first-child {
      &::before {
        border-radius: 4px 0 0 4px;
      }
      & input {
        border-radius: 4px 0 0 4px;
      }
    }
    &:last-child {
      &::before {
        border-radius: 0px 4px 4px 0px;
      }
      margin-left: -1px;
      & input {
        border-radius: 0px 4px 4px 0px;
      }
    }
  }
}

.filter-switches {
  & label {
    transition: color 0.15s;
    @media (any-hover: hover) {
      &:hover {
        color: $blueColor;
      }
    }
  }
}
.filter-group--brand {
  & .filter-switches input ~ span {
    @media (any-hover: hover) {
      &:hover {
        border-color: $blueColor;
      }
    }
  }
}

.form-item {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 0 0px rgba($blueColor, 0.4);
    pointer-events: none;
    border-radius: 4px;
    z-index: 2;
    transition: box-shadow 0.25s;
  }
  &:focus-within {
    &::before {
      box-shadow: 0 0 0 3px rgba($blueColor, 0.4);
    }
  }
}

.filter-input {
  width: 100%;
  border: 1px solid #a4a4a4;
  height: 38px;
  padding: 11px 13px;
  border-radius: 4px;
  &::placeholder {
    font-weight: 400;
    font-size: 14px;
    color: #a4a4a4;
    font-family: "Inter", sans-serif;
  }
}

.filter-group--delivery {
  & .filter-switches {
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
  }
}

.filter-group--buttons {
  display: flex;
  flex-direction: column;
  gap: 18px;
  & .btn {
    min-height: 56px;
    border-radius: 10px;
    font-size: 14px;
  }
}

.filter-reset {
  align-self: center;
  font-weight: 400;
  font-size: 14px;
  color: #cf3c35;
}

.filter-group--keywords {
  & legend {
    margin-bottom: 17px;
  }
}

.filter-keywords {
  @include reset-list;
  display: flex;
  flex-direction: column;
  gap: 15px;
  & li {
  }
  & a {
    color: $blueColor;
    cursor: pointer;
    line-height: 120%;
    font-size: 14px;
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.card-junk {
  border: 1px solid #efefef;
  border-radius: 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
  background: $whiteColor;
  overflow: hidden;
  &__image {
    padding-bottom: math.div(250, 330) * 100%;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    border: 1px solid #e6e6e6;
    display: block;
  }

  &__content {
    padding: 11px 16px 17px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    @media screen and (max-width: $md) {
      padding: 12px 18px 13px;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
  }

  &__title {
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    color: $blueColor;
    display: block;
    @media screen and (max-width: $md) {
      font-size: 20px;
    }
  }
  &__favorite {
    width: 19px;
    height: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    &::before {
      content: "";
      width: 100%;
      height: 100%;
      display: block;
      mask-image: url("../images/icons/favorite-gray.svg");
      mask-repeat: no-repeat;
      mask-position: center;
      background-color: #a4a4a4;
    }
    &.active {
      &::before {
        mask-image: url("../images/icons/favorite-active.svg");
        background-color: $blueColor;
      }
    }
  }
  &__price {
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    font-family: "Rubik", sans-serif;
    @media screen and (max-width: $md) {
      font-size: 32px;
    }
  }
  &__description {
    font-size: 12px;
    line-height: 130%;
  }
  &__date {
  }
}

.sort-junk {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
  gap: 9px 24px;
  @media screen and (max-width: $lg) {
  }
  &__item {
    &:last-child {
      margin-left: auto;
      @media screen and (max-width: $lg) {
        margin-left: 0;
      }
    }
    @media screen and (max-width: $sm) {
      &:nth-child(odd) {
        flex-grow: 1;
      }
    }
  }
  &__save {
    display: flex;
    align-items: center;
    gap: 7px;
    transition: color 0.25s;
    &::after {
      content: "";
      display: block;
      width: 16px;
      height: 16px;
      mask-repeat: no-repeat;
      mask-position: center;
      mask-image: url("../images/icons/save-icon.svg");
      background-color: $blueColor;
    }
    @media (any-hover: hover) {
      &:hover {
        color: $blueColor;
      }
    }
    @media screen and (max-width: $md) {
      font-size: 12px;
    }
  }
}

.dropdown {
  position: relative;
  width: fit-content;
  &-shown {
    & .dropdown__button span {
      color: $blueColor;
    }
    & .dropdown__button::before {
      display: none;
    }
  }
  &__button {
    font-weight: 400;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    position: relative;
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    &::before,
    &::after {
      content: "";
      display: block;
      width: 16px;
      height: 16px;
      mask-repeat: no-repeat;
      mask-position: center;
      transition: transform 0.25s;
    }
    &::before {
      mask-image: url("../images/icons/sort-arrow.svg");
      background-color: $blueColor;
    }
    &::after {
      mask-image: url("../images/icons/arrow-down-small.svg");
      background-color: $mainColor;
    }
    &.active + .dropdown__wrapper {
      display: block;
    }
    &.active::after {
      transform: rotate(180deg);
    }
    & span {
      pointer-events: none;
    }
    @media screen and (max-width: $md) {
      font-size: 12px;
    }
  }
  &__wrapper {
    display: none;
    border: 1px solid #efefef;
    border-radius: 10px;
    width: 100%;
    min-width: 128px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
    background: $whiteColor;
    padding: 9px 8px;
    position: absolute;
    left: 0;
    top: calc(100% + 5px);
    z-index: 2;
  }
  &__list {
    @include reset-list;
    display: flex;
    flex-direction: column;
    gap: 5px;
    li {
      font-size: 12px;
      line-height: 120%;
      transition: color 0.25s;
      cursor: pointer;
      &.active {
        color: $blueColor;
      }
      @media (any-hover: hover) {
        &:hover {
          color: $blueColor;
        }
      }
    }
  }
}

.switch {
  & label {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    cursor: pointer;
    transition: color 0.25s;
    @media (any-hover: hover) {
      &:hover {
        color: $blueColor;
      }
    }
    @media screen and (max-width: $md) {
      font-size: 12px;
    }
  }
  & span {
    border: 1px solid #a4a4a4;
    border-radius: 27px;
    width: 32px;
    height: 16px;
    position: relative;
    &::before {
      content: "";
      display: block;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0px;
      background-color: $blueColor;
      transition: left 0.25s;
    }
  }
  & input:checked ~ span::before {
    left: 17px;
  }
}
