.product-discuss {
  padding-bottom: 67px;
  @media screen and (max-width: $md) {
    padding-bottom: 39px;
  }
  &__title {
    margin-bottom: 24px;
    @media screen and (max-width: $md) {
      margin-bottom: 19px;
      font-size: 20px;
    }
  }
  &__body {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    @media screen and (max-width: $xxl) {
      display: block;
    }
  }
}

.product-card {
  &__main {
    flex: 1 1 auto;
  }
  &__wrapper {
    border: 1px solid #efefef;
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
    background: $whiteColor;
    padding: 35px 30px 25px;
    @media screen and (max-width: $md) {
      padding: 8px 8px 14px;
    }
  }
  &__data {
    flex: 0 0 450px;
    border: 1px solid #efefef;
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
    background: $whiteColor;
    padding: 62px 34px 22px;
    position: sticky;
    top: 10px;
    @media screen and (max-width: 1500px) {
      flex: 0 0 355px;
    }
    @media screen and (max-width: $xxl) {
      padding: 0;
      box-shadow: none;
      border: none;
      display: block;
      position: static;
      background: transparent;
      border-radius: 0;
      margin-top: 24px;
    }
  }
  &__title {
    margin-bottom: 24px;
  }
  &__top-buttons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px 24px;
    margin-bottom: 23px;
    & .btn {
      width: 280px;
    }
    @media screen and (max-width: $md) {
      flex-direction: column;
      margin-bottom: 16px;
      & .btn {
        width: 100%;
      }
    }
  }
  &__content {
    display: grid;
    gap: 40px;
    margin-top: 35px;
    @media screen and (max-width: $xxl) {
      margin-top: 24px;
    }
    @media screen and (max-width: $md) {
      gap: 16px;
    }
  }
  &__price {
    text-align: center;
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 58px;
    line-height: 120%;
    @media screen and (max-width: $xxl) {
      margin-bottom: 24px;
    }
  }
  &__inner {
    display: grid;
    gap: 24px;
  }
  &__buttons {
    display: grid;
    gap: 20px;
    @media screen and (max-width: $xxl) {
      gap: 24px;
    }
  }
  &__bottom {
    display: grid;
    gap: 20px;
    @media screen and (max-width: $xxl) {
      gap: 24px;
    }
  }
  & .reviews-block {
    gap: 12px;
  }
}

.button-favorite,
.button-add-note,
.button-subscribe-user,
.button-add-review {
  gap: 10px;

  &::before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: $blueColor;
    transition: background-color 0.2s;
  }

  @media (any-hover: hover) {
    &:hover {
      &::before {
        background-color: $whiteColor;
      }
    }
  }
}
.button-add-review {
  border-radius: 7px;
  width: 241px;
  box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.05);
  margin: 0 auto;
  @media screen and (max-width: $md) {
    width: 100%;
  }
}

.button-favorite::before {
  mask-image: url("../images/icons/favorite-icon.svg");
}

.button-add-note::before {
  mask-image: url("../images/icons/note-icon.svg");
}
.button-subscribe-user::before {
  mask-image: url("../images/icons/subscribe-user.svg");
}
.button-add-review::before {
  mask-image: url("../images/icons/add-review-big.svg");
}

.product-slider {
  max-width: 870px;
  margin: 0 auto;
  gap: 19px;
  @media screen and (max-width: $xxxl) {
    max-width: 600px;
  }
  @media screen and (max-width: $xxl) {
    max-width: 100%;
  }
  &__body {
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    @media screen and (max-width: $md) {
      border-radius: 4px;
    }
  }
  &__image {
    padding-bottom: math.div(594, 870) * 100%;
  }
  &__pagination {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0px !important;
    padding: 30px 2px 30px;
    border-radius: 0 0 10px 10px;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        360deg,
        rgba(0, 0, 0, 0.49) 0%,
        rgba(0, 0, 0, 0) 100%
      );
      z-index: 2;
      border-radius: inherit;
    }
    @media screen and (max-width: $md) {
      padding: 12px 5px;
      &::before {
        opacity: 0.42;
        border-radius: 4px;
      }
    }
    & .swiper-pagination-bullet {
      border-radius: 10px;
      height: 9px;
      width: 100%;
      background-color: $whiteColor;
      transition: background-color 0.3s;
      z-index: 2;
      opacity: 1;
      &-active {
        background-color: $blueColor;
      }
      @media screen and (max-width: $md) {
        height: 4px;
        border-radius: 4px;
      }
    }
  }
  &-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 66.3%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    overflow: hidden;
    @media screen and (max-width: $md) {
      display: none;
    }
    &.swiper-button-disabled {
      cursor: default;
      &::after {
        background: rgba(#a4a4a4, 0.49);
        background: rgba(#a4a4a4, 0.49);
        backdrop-filter: blur(20%);
        border: 1px solid rgba(#a4a4a4, 0.2);
      }
    }
    &::before {
      content: "";
      display: block;
      width: 24px;
      height: 24px;
      mask-image: url("../images/icons/chevron-double-right.svg");
      mask-repeat: no-repeat;
      mask-position: center;
      background-color: $whiteColor;
      z-index: 2;
      position: relative;
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgb(40, 102, 193);
      background: linear-gradient(
        90deg,
        rgba(40, 102, 193, 1) 0%,
        rgba(77, 148, 255, 1) 100%
      );
    }
    &--prev {
      left: 0;
      border-radius: 0px 7px 7px 0px;

      &::before {
        transform: scaleX(-1);
      }
    }
    &--next {
      border-radius: 7px 0 0 7px;
      right: 0;
    }
  }
}

.product-slider {
  &
    .swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet {
    margin: 0 6px;
    width: 100%;
    @media screen and (max-width: $md) {
      margin: 0 2px;
    }
  }

  & .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    width: 100%;
  }
}

.thumbs-slider {
  margin: 0 auto;
  overflow: hidden;
  margin-top: 19px;
  @media screen and (max-width: $md) {
    margin-top: 9px;
  }
  &__item {
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    @media screen and (max-width: $xxxl) {
      height: 100px;
    }
    @media screen and (max-width: $md) {
      height: 75px;
    }
    @media screen and (max-width: $xs) {
      height: 56px;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 2px solid $blueColor;
      border-radius: 10px;
      opacity: 0;
      transition: opacity 0.2s ease 0s;
    }
    &.swiper-slide-thumb-active {
      &::before {
        opacity: 1;
      }
    }
  }
  &__image {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.content-group {
  & ul {
    @include reset-list;
  }
  &__reviews {
    & .content-group__caption {
      margin-bottom: 37px;
      @media screen and (max-width: $lg) {
        margin-bottom: 16px;
      }
    }
  }
  &__caption {
    font-size: 20px;
    font-weight: 700;
    font-family: "Rubik", sans-serif;
    margin-bottom: 16px;
  }
  &__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    & p {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
  &__form {
    margin-bottom: 20px;
    @media screen and (max-width: $md) {
      margin-bottom: 16px;
    }
  }
  &__info {
    color: #a4a4a4;
    font-size: 16px;
    line-height: 120%;
  }
}

.feedback-form {
  &__item {
    position: relative;

    &::before {
      content: "";
      width: 24px;
      height: 24px;
      display: block;
      mask-image: url("../images/icons/send-icon.svg");
      mask-repeat: no-repeat;
      mask-position: center;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 12px;
      background-color: $blueColor;
    }
  }
  & .form-input {
    padding-right: 40px;

    &::placeholder {
      font-weight: 400;
      font-size: 16px;
      line-height: 120%;
      color: $mainColor;
    }
  }
}

.btn.btn-big {
  min-height: 80px;
  border-radius: 10px;
}
.btn-green {
  background-color: $greenColor;
  border-color: $greenColor;
  color: $whiteColor;

  @media (any-hover: hover) {
    &:hover {
      background-color: transparent;
      color: $greenColor;
    }
  }
}
.btn-blue {
  background-color: $blueColor;
  color: $whiteColor;

  @media (any-hover: hover) {
    &:hover {
      background-color: transparent;
      color: $blueColor;
    }
  }
}
.user-product {
  display: grid;
  gap: 12px;
  justify-content: start;
  justify-items: start;
  line-height: 120%;
  &__name {
    color: $blueColor;
  }
  &__reviews {
  }
  &__status {
    color: #a4a4a4;
  }
  &__trust {
    color: #a4a4a4;
    padding: 6px 14px;
    border: 1px solid $greenColor;
    border-radius: 40px;
    min-height: 29px;
    text-align: center;
  }
}

.discuss-similar {
  padding: 0 30px;
  padding-top: 41px;
  max-width: 930px;
  @media screen and (max-width: $md) {
    padding: 23px 5px 0;
    max-width: 100%;
  }
  &__title {
    margin-bottom: 19px;
    @media screen and (max-width: $md) {
      margin-bottom: 16px;
    }
  }
}

.slider-similar {
  &__body {
    @media screen and (max-width: $sm) {
      overflow: visible;
    }
  }
  &__wrapper {
  }
  &__item {
    border: 1px solid #efefef;
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
    background: $whiteColor;
    display: flex;
    flex-direction: column;
    padding: 14px 14px 26px;
    font-size: 16px;
    line-height: 120%;
    @media screen and (max-width: $md) {
      width: 32%;
    }
    @media screen and (max-width: $sm) {
      width: 265px;
    }
  }
  &__image {
    padding-bottom: math.div(203, 239) * 100%;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #e6e6e6;
    margin-bottom: 10px;
  }
  &__content {
    flex: 1 1 auto;
    line-height: 120%;
  }
  &__title {
    font-weight: 700;
    color: $blueColor;
    margin-bottom: 5px;
    font-family: "Rubik", sans-serif;
  }
  &__price {
    font-weight: 700;
    margin-bottom: 10px;
  }
  &__text {
    font-size: 14px;
    & p {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
  &__date {
    font-size: 14px;
  }
}

.product-detail {
  padding-bottom: 43px;
  @media screen and (max-width: $md) {
    padding-bottom: 28px;
  }
  &__wrapper {
    border: 1px solid #efefef;
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
    background: $whiteColor;
    padding: 30px 30px;
    margin-bottom: 35px;
    @media screen and (max-width: $md) {
      padding: 18px 8px 23px;
      margin-bottom: 19px;
    }
  }
  &__body {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    @media screen and (max-width: $lg) {
      flex-direction: column;
      gap: 25px;
    }
  }
  & .product-card {
    &__slider {
      max-width: 780px;
      @media screen and (max-width: $xxxl) {
        max-width: 600px;
      }
      @media screen and (max-width: $xxl) {
        max-width: 500px;
      }
      @media screen and (max-width: $lg) {
        max-width: 100%;
      }
    }
    &__content {
      @media screen and (max-width: $lg) {
        margin-top: 32px;
      }
      @media screen and (max-width: $md) {
        gap: 30px;
      }
    }
  }
  & .content-group__caption {
    font-size: 32px;
  }
  &__pagination {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid rgba(#a4a4a4, 0.5);
    @media screen and (max-width: $md) {
      & .pagination__list {
        gap: 7px;
      }
    }
  }
  & .thumbs-slider {
    &__item {
      height: 125px;
      @media screen and (max-width: $xxxl) {
        height: 100px;
      }
      @media screen and (max-width: $md) {
        height: 75px;
      }
      @media screen and (max-width: $xs) {
        height: 56px;
      }
    }
  }
}
.product-card {
  &__heading {
    display: none;
    @media screen and (max-width: $lg) {
      display: flex;
      flex-direction: column;
      gap: 9px;
    }
    @media screen and (max-width: $md) {
      & .product-card__title {
        margin-bottom: 0;
      }
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    padding-top: 10px;
    @media screen and (max-width: $lg) {
      padding: 0;
      width: 100%;
      gap: 32px;
      & .product-card__title,
      & .reviews-block {
        display: none;
      }
    }
  }
  &__title {
    margin-bottom: 0;
    @media screen and (max-width: $md) {
      font-size: 20px;
    }
  }
  &__list {
    @include reset-list;
    display: flex;
    flex-direction: column;
    gap: 33px;
  }
  &__list-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    &::before {
      content: "";
      display: block;
      left: 0;
      bottom: 2px;
      position: absolute;
      width: 100%;
      border-bottom: 1px dotted #a4a4a4;
      z-index: 0;
    }
    &.result {
      & .product-card__list-caption {
        display: flex;
        justify-content: flex-start;
        & span {
          font-size: 16px;
          color: $mainColor;
          line-height: 120%;
          display: flex;
          flex-direction: row-reverse;
          align-items: flex-end;
          gap: 4px;
          justify-content: flex-start;
          &::after {
            content: "";
            display: block;
            width: 20px;
            height: 20px;
            background-image: url("../images/icons/fotogora-icon.svg");
            background-repeat: no-repeat;
            background-position: center;
            flex-shrink: 0;
          }
        }
      }
      & .product-card__list-value {
        font-weight: 700;
        font-size: 32px;
        font-family: "Rubik", sans-serif;
        @media screen and (max-width: $md) {
          font-size: 20px;
        }
      }
    }
  }
  &__list-caption {
    flex: 1 1 auto;
    position: relative;
    & span {
      color: #a4a4a4;
      background-color: $whiteColor;
      padding-right: 5px;
      line-height: 120%;
      position: relative;
    }
    @media screen and (max-width: $md) {
      width: 60%;
    }
  }
  &__list-value {
    color: $mainColor;
    & span {
      padding-left: 7px;
      background-color: $whiteColor;
      position: relative;
    }
    text-align: right;
    @media screen and (max-width: $md) {
      width: 40%;
    }
  }
  &__content {
  }
  &__button-learn-more {
    width: 280px;
    margin-top: 35px;
    align-self: flex-end;
    @media screen and (max-width: $md) {
      width: 100%;
      margin-top: 11px;
    }
  }
  &__button {
    font-size: 20px;
    font-weight: 700;
  }
}
.content-group {
  &__testimonials {
    display: grid;
    gap: 72px 0;
    @media screen and (max-width: $lg) {
      gap: 30px 0;
    }
  }
}
.testimonials-item {
  // display: flex;
  // align-items: flex-start;
  gap: 16px;
  display: grid;
  grid-template-columns: 80px 1fr;
  align-items: flex-start;
  grid-template-rows: auto;
  align-items: flex-start;
  @media screen and (max-width: $md) {
    align-items: center;
    gap: 10px 16px;
  }
  &__header {
    margin-bottom: 16px;
    @media screen and (max-width: $md) {
      grid-column: 2/ 3;
      margin: 0;
    }
  }
  &__avatar {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
    grid-column: 1 / 2;
  }
  &__body {
    padding-top: 16px;
    grid-column: 2 / 3;
    flex: 1 1 auto;
    @media screen and (max-width: $md) {
      grid-column: span 3;
    }
  }
  &__name {
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    font-family: "Rubik", sans-serif;
    margin-bottom: 6px;
  }

  & ul.testimonials-item__images-list {
    @include reset-list;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 26px;
    margin: 16px 0 20px;
    align-items: stretch;
    & img {
      @media screen and (max-width: $md) {
        width: 100%;
      }
    }
    @media screen and (max-width: $md) {
      grid-column: span 3;
      grid-template-columns: repeat(2, 1fr);
      gap: 15px;
      margin: 0px 0 14px;
    }
  }
  &__content {
    display: grid;
    gap: 20px;
    @media screen and (max-width: $md) {
      grid-column: span 3;
    }
  }
  &__reactions {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    padding-top: 12px;
    // border-top: 1px solid #e8e8e8;
    margin-top: 17px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;
      border-top: 1px solid rgba(#cfcfcf, 0.5);
      box-shadow: 0px 1px 0px 0px $whiteColor;
    }
    @media screen and (max-width: $md) {
      grid-column: span 3;
      padding-top: 10px;
      margin-top: 6px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 41px;
    }
  }
}
.content-testimonials {
  &__group {
    font-size: 16px;
    line-height: 120%;
    & strong {
      font-family: "Rubik", sans-serif;
    }
  }
}
.reactions-group {
  display: flex;
  align-items: center;
  gap: 50px;
  &:nth-child(2) {
    gap: 10px;
  }
  @media screen and (max-width: $md) {
    width: 30%;
    justify-content: space-between;
    gap: 10px;
  }
  @media screen and (max-width: $xs) {
    width: 50%;
  }
}
