.topic {
	padding-bottom: 30px;
	&__title {
	}
	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 10px 20px;
		position: relative;
		padding: 16px 0;
		@include line;
		&::after {
			content: "";
			position: absolute;
			width: 100%;
			left: 0;
			top: 0;
			border-bottom: 1px solid rgba(#cfcfcf, 0.5);
			box-shadow: 0px 1px 0px 0px $whiteColor;
		}
		margin-bottom: 21px;
		@media screen and (max-width: $md) {
			flex-direction: column;
			text-align: center;
			padding: 15px 0 7px;
			margin-bottom: 15px;
		}
	}
	&__button {
		padding: 10px 26px;
		@media screen and (max-width: $md) {
			width: 100%;
		}
	}
	&__result {
		color: #a4a4a4;
		text-align: right;
		font-family: "Rubik", sans-serif;
		font-size: 14px;
		font-weight: 400;
		line-height: 110%;
		@media screen and (max-width: $md) {
			text-align: center;
		}
	}
	&__cards {
		display: grid;
		grid-template-columns: 1fr;
		gap: 21px;
		margin-bottom: 30px;
		@media screen and (max-width: $md) {
			margin-bottom: 21px;
		}
	}
}
.result-topic {
	&__item {
	}
}
.topic-card {
	padding: 20px 20px 12px;
	display: grid;
	grid-template-columns: 190px 1fr;
	gap: 18px 28px;
	align-items: start;
	border-radius: 10px;
	border: 1px solid #efefef;
	background: #fff;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
	font-family: "Rubik", sans-serif;
	line-height: 120%;
	@media screen and (max-width: $md) {
		grid-template-columns: 1fr;
		padding: 12px 12px 13px;
	}
	&__data {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		gap: 6px;
		@media screen and (max-width: $md) {
			display: grid;
			grid-template-columns: 120px 1fr;
			gap: 19px;
			align-items: start;
			text-align: left;
		}
	}
	&__time {
		display: none;
		color: #a4a4a4;
		margin-bottom: 6px;
		font-family: "Rubik", sans-serif;
		font-size: 14px;
		line-height: 110%;
		@media screen and (max-width: $md) {
			display: block;
		}
	}
	&__info {
		display: flex;
		flex-direction: column;
		gap: 6px;
	}
	&__image {
		position: relative;
		padding-bottom: 100%;
		overflow: hidden;
		width: 190px;
		flex: 0 0 190px;
		border-radius: 5px;
		@media screen and (max-width: $md) {
			width: 120px;
			flex: 0 0 120px;
		}
	}
	&__messages {
		display: flex;
		align-items: center;
		gap: 10px 41px;
		flex-wrap: wrap;
		@media screen and (max-width: $md) {
			order: 1;
			margin-top: 6px;
		}
	}

	&__message {
		color: #4b4b4b;
		position: relative;
		padding-left: 28px;
		&::before {
			content: "";
			display: block;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			width: 24px;
			height: 24px;
			mask-repeat: no-repeat;
			mask-position: center;
			background-color: $blueColor;
		}
		&--1::before {
			mask-image: url("../images/icons/topic-msg-1.svg");
		}
		&--2::before {
			mask-image: url("../images/icons/topic-msg-2.svg");
		}
	}
	&__author-label {
		color: #a4a4a4;
	}
	&__author-name {
		color: #307ff5;
	}
	&__city {
	}
	&__main {
	}
}
.main-topic {
	display: grid;
	grid-template-columns: 1fr;
	gap: 12px;
	grid-template-rows: auto 1fr auto;
	align-self: stretch;
	&__header {
		display: flex;
		flex-direction: column;
		gap: 15px;
	}
	&__date {
		display: flex;
		align-items: center;
		gap: 17px;
		@media screen and (max-width: $md) {
			display: none;
		}
	}
	&__time {
		color: #a4a4a4;
	}
	&__user {
		color: $mainColor;
	}
	&__title {
		font-size: 20px;
		font-weight: 700;
	}
	&__sub-title {
		font-size: 16px;
		font-family: "Inter", sans-serif;
	}
	&__body {
		display: flex;
		flex-direction: column;
		gap: 12px;
		@media screen and (max-width: $md) {
			margin-bottom: 4px;
		}
	}
	&__images {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 12px 8px;
		align-self: start;
		justify-content: start;
		@media screen and (max-width: $md) {
			display: grid;
			grid-template-columns: 1fr;
			align-self: stretch;
		}
	}
	&__image {
		position: relative;
		height: 231px;
		width: 330px;
		overflow: hidden;
		@media screen and (max-width: $md) {
			height: auto;
			width: 100%;
			padding-bottom: math.div(231, 344) * 100%;
		}
	}

	&__description {
		font-family: "Inter", sans-serif;
		font-size: 16px;
		line-height: 120%;
	}

	&__footer {
		padding-top: 12px;
		position: relative;
		&::after {
			content: "";
			position: absolute;
			width: 100%;
			left: 0;
			top: 0;
			border-bottom: 1px solid rgba(#cfcfcf, 0.5);
			box-shadow: 0px 1px 0px 0px $whiteColor;
		}
		@media screen and (max-width: $md) {
			padding-top: 10px;
		}
	}
}
.footer-topic {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	@media screen and (max-width: $md) {
		gap: 10px 36px;
	}
	@media screen and (max-width: 389.98px) {
		gap: 10px 20px;
	}
	&__item {
		display: flex;
		align-items: center;
		&:first-child {
			gap: 10px 47px;
			flex-wrap: wrap;
			@media screen and (max-width: $md) {
				gap: 10px 36px;
			}
			@media screen and (max-width: 389.98px) {
				gap: 10px 20px;
			}
		}
		&:last-child {
			gap: 10px 11px;
			@media screen and (max-width: $md) {
				gap: 10px 36px;
			}
			@media screen and (max-width: 389.98px) {
				gap: 10px 20px;
			}
		}
	}
}
